In [5]:
import math
from typing import TypedDict

import pandas as pd

from helpers import upload_to_github

Rating = TypedDict("Rating", {"rating": float, "event": str})
Player = TypedDict(
    "Player",
    {
        "name": str,
        "played": int,
        "wins": int,
        "losses": int,
        "rating": float,
        "rating_history": list[Rating],
    },
)
Match = TypedDict(
    "Match",
    {
        "team_a": list[Player],
        "team_b": list[Player],
        "score_a": int,
        "score_b": int,
        "winner": list[Player],
        "loser": list[Player],
    },
)
MatchResult = TypedDict(
    "MatchResult",
    {
        "player_1_played": int,
        "player_1_wins": int,
        "player_1_losses": int,
        "player_1_rating": float,
        "player_2_played": int,
        "player_2_wins": int,
        "player_2_losses": int,
        "player_2_rating": float,
        "player_3_played": int,
        "player_3_wins": int,
        "player_3_losses": int,
        "player_3_rating": float,
        "player_4_played": int,
        "player_4_wins": int,
        "player_4_losses": int,
        "player_4_rating": float,
    },
)
MatchResultRating = TypedDict(
    "MatchResultRating",
    {
        "player_1_rating": float,
        "player_2_rating": float,
        "player_3_rating": float,
        "player_4_rating": float,
    },
)


def create_player(name: str) -> Player:
    """
    Creates a new player with the given name and initializes their statistics.

    Args:
        name (str): The name of the player.

    Returns:
        dict[str, Any]: A dictionary representing the player with initialized stats.
    """
    return {
        "name": name,
        "played": 0,
        "wins": 0,
        "losses": 0,
        "rating": 1500,  # Initial Elo rating
        "rating_history": [],
    }


def create_match(
    team_a: list[Player],
    team_b: list[Player],
    score_a: int,
    score_b: int,
) -> Match:
    """
    Creates a match between two teams and records the scores and results.

    Args:
        team_a (list[dict[str, Any]]): The first team consisting of players.
        team_b (list[dict[str, Any]]): The second team consisting of players.
        score_a (int): The score of team A.
        score_b (int): The score of team B.

    Returns:
        dict[str, Any]: A dictionary representing the match details, including teams and scores.
    """
    return {
        "team_a": team_a,
        "team_b": team_b,
        "score_a": score_a,
        "score_b": score_b,
        "winner": team_a if score_a > score_b else team_b,
        "loser": team_b if score_a > score_b else team_a,
    }


def play_match(match: Match) -> MatchResult:
    """
    Processes the match results, updating player records and ratings based on the scores.

    Args:
        match (Match): The match details containing teams and scores.
    """
    match_result: MatchResult = {
        "player_1_played": 1,
        "player_1_wins": 0,
        "player_1_losses": 0,
        "player_1_rating": 0,
        "player_2_played": 1,
        "player_2_wins": 0,
        "player_2_losses": 0,
        "player_2_rating": 0,
        "player_3_played": 1,
        "player_3_wins": 0,
        "player_3_losses": 0,
        "player_3_rating": 0,
        "player_4_played": 1,
        "player_4_wins": 0,
        "player_4_losses": 0,
        "player_4_rating": 0,
    }

    # If team A wins
    if match["score_a"] > match["score_b"]:
        # record a win for player 1 and 2
        match_result["player_1_wins"] = 1
        match_result["player_2_wins"] = 1

        # record a loss for player 3 and 4
        match_result["player_3_losses"] = 1
        match_result["player_4_losses"] = 1

    # If team B wins
    else:
        # record a win for player 3 and 4
        match_result["player_3_wins"] = 1
        match_result["player_4_wins"] = 1

        # record a loss for player 1 and 2
        match_result["player_1_losses"] = 1
        match_result["player_2_losses"] = 1

    # Calculate rating
    rating = calculate_ratings(
        team_a=match["team_a"],
        team_b=match["team_b"],
        score_a=match["score_a"],
        score_b=match["score_b"],
    )

    match_result["player_1_rating"] = rating["player_1_rating"]
    match_result["player_2_rating"] = rating["player_2_rating"]
    match_result["player_3_rating"] = rating["player_3_rating"]
    match_result["player_4_rating"] = rating["player_4_rating"]

    return match_result


def calculate_ratings(
    team_a: list[Player],
    team_b: list[Player],
    score_a: int,
    score_b: int,
    k_factor: int = 32,
) -> MatchResultRating:
    """
    Updates the ratings for each player in two teams competing in a doubles match.

    Args:
        team_a (list[Player]): The first team consisting of players.
        team_b (list[Player]): The second team consisting of players.
        score_a (int): The score of team A.
        score_b (int): The score of team B.
        k_factor (int, optional): The K-factor for rating adjustment. Default is 32.

    """
    match_result_rating: MatchResultRating = {
        "player_1_rating": 0,
        "player_2_rating": 0,
        "player_3_rating": 0,
        "player_4_rating": 0,
    }

    rating_team_a = (team_a[0]["rating"] + team_a[1]["rating"]) / 2
    rating_team_b = (team_b[0]["rating"] + team_b[1]["rating"]) / 2

    expected_score_a = 1 / (1 + math.pow(10, (rating_team_b - rating_team_a) / 400))
    expected_score_b = 1 / (1 + math.pow(10, (rating_team_a - rating_team_b) / 400))

    actual_score_a = 1 if score_a > score_b else 0
    actual_score_b = 1 if score_b > score_a else 0

    margin_factor = 1 + abs(score_a - score_b) / 21

    # Update team A rating
    rating_change_team_a = (
        k_factor * margin_factor * (actual_score_a - expected_score_a)
    )
    match_result_rating["player_1_rating"] = rating_change_team_a
    match_result_rating["player_2_rating"] = rating_change_team_a

    # Update team B rating
    rating_change_team_b = (
        k_factor * margin_factor * (actual_score_b - expected_score_b)
    )
    match_result_rating["player_3_rating"] = rating_change_team_b
    match_result_rating["player_4_rating"] = rating_change_team_b

    # for player in team_b:
    #     rating_change = k_factor * margin_factor * (actual_score_b - expected_score_b)
    #     player["rating"] += rating_change

    return match_result_rating


def scaled_rating(rating: float) -> float:
    """
    Scales the player's rating to a 10-point scale.

    Args:
        rating (float): The raw rating of the player.

    Returns:
        float: The scaled rating between 0 and 10, rounded to one decimal place.
    """
    min_rating = 1000
    max_rating = 2000
    scaled = (rating - min_rating) / (max_rating - min_rating) * 10
    return round(max(0, min(scaled, 10)), 1)  # Keep the result between 0 and 10


def get_last_week_rating_change(rating_history: list[Rating]) -> float:
    """
    Calculates the change in rating from last available session (typically last week) to the current rating.

    Args:
        rating_history (list[Rating]): The rating history of a player.

    Returns:
        float: The change in rating from the last available session.
    """
    if len(rating_history) < 2:
        return 0  # No previous events to compare
    current = rating_history[-1]["rating"]
    previous = rating_history[-2]["rating"]
    return current - previous


def get_last_event_rating_change(rating_history: list[Rating]) -> float:
    """
    Calculates the change in rating from the last recorded event to the current rating.

    Args:
        rating_history (list[Rating]): The rating history of a player.

    Returns:
        float: The change in rating from the last event.
    """
    if len(rating_history) == 0:
        return 0  # No previous events to compare

    elif len(rating_history) == 1:
        return rating_history[0]["rating"] - 1500

    current = rating_history[-1]["rating"]
    previous = rating_history[-2]["rating"]
    return current - previous


player_dict: dict[str, Player] = {}

for badminton_date in [
    "2024-10-10",
    "2024-10-17",
    "2024-10-31",
    "2024-11-07",
    "2024-11-14",
    "2024-11-21",
    "2024-11-28",
    "2024-12-05",
    "2024-12-12",
    "2025-01-02",
    "2025-01-09",
    "2025-01-16",
    "2025-01-23",
]:
    df = pd.read_csv(
        f"https://raw.githubusercontent.com/BadgerMinton/badgerminton-data/refs/heads/main/matches/{badminton_date}_match_results.csv"
    )

    # Create a Player "database"
    player_names = pd.concat(
        [df[col] for col in ["player_a_1", "player_a_2", "player_b_1", "player_b_2"]]
    ).unique()
    for player_name in player_names:
        if player_name not in player_dict:
            player = create_player(name=player_name)
            player_dict[player_name] = player

    for index, row in df.iterrows():
        # Create players
        player1 = player_dict[row["player_a_1"]]
        player2 = player_dict[row["player_a_2"]]
        player3 = player_dict[row["player_b_1"]]
        player4 = player_dict[row["player_b_2"]]

        # Create teams
        team_a = [player1, player2]  # Team A: Alice and Bob
        team_b = [player3, player4]  # Team B: Charlie and Diana

        # Create a match
        match = create_match(
            team_a, team_b, score_a=row["score_a"], score_b=row["score_b"]
        )

        # Play the match
        match_result = play_match(match)

        # Save the values
        # Player 1
        player_dict[row["player_a_1"]]["wins"] += match_result["player_1_wins"]
        player_dict[row["player_a_1"]]["losses"] += match_result["player_1_losses"]
        player_dict[row["player_a_1"]]["played"] += match_result["player_1_played"]
        player_dict[row["player_a_1"]]["rating"] += match_result["player_1_rating"]

        # Player 2
        player_dict[row["player_a_2"]]["wins"] += match_result["player_2_wins"]
        player_dict[row["player_a_2"]]["losses"] += match_result["player_2_losses"]
        player_dict[row["player_a_2"]]["played"] += match_result["player_2_played"]
        player_dict[row["player_a_2"]]["rating"] += match_result["player_2_rating"]

        # Player 3
        player_dict[row["player_b_1"]]["wins"] += match_result["player_3_wins"]
        player_dict[row["player_b_1"]]["losses"] += match_result["player_3_losses"]
        player_dict[row["player_b_1"]]["played"] += match_result["player_3_played"]
        player_dict[row["player_b_1"]]["rating"] += match_result["player_3_rating"]

        # Player 4
        player_dict[row["player_b_2"]]["wins"] += match_result["player_4_wins"]
        player_dict[row["player_b_2"]]["losses"] += match_result["player_4_losses"]
        player_dict[row["player_b_2"]]["played"] += match_result["player_4_played"]
        player_dict[row["player_b_2"]]["rating"] += match_result["player_4_rating"]

    # Record ratings for this event
    for player_name in player_names:
        # player = create_player(name=player_name)
        player_dict[player_name]["rating_history"].append(
            {"rating": player_dict[player_name]["rating"], "event": badminton_date}
        )

    # Convert dict to DataFrame
    result_df = pd.DataFrame.from_records(
        [player for player in [p for p in player_dict.values()]]
    )
    # Sort according to rating
    result_df = result_df.sort_values(by="rating", ascending=False).reset_index(
        drop=True
    )

    # Calculate weekly rating change
    result_df["weekly_change"] = result_df["rating_history"].apply(
        get_last_week_rating_change
    )
    # Calculate event rating change
    result_df["event_change"] = result_df["rating_history"].apply(
        get_last_event_rating_change
    )
    # Calculate total rating change
    result_df["total_change"] = result_df["rating"] - 1500
    # Calculate scaled rating
    result_df["scaled_rating"] = result_df["rating"].apply(scaled_rating)
    # Set index to start at 1
    result_df.index = pd.RangeIndex(start=1, stop=len(result_df) + 1)

    # Make the decimal points more human readable
    result_df[["weekly_change", "event_change", "total_change"]] = result_df[
        ["weekly_change", "event_change", "total_change"]
    ].apply(lambda x: x.round(0).astype(int))
    result_df[["rating"]] = result_df[["rating"]].apply(lambda x: x.round(1))

    result_df = result_df[
        [
            "name",
            "played",
            "wins",
            "losses",
            "scaled_rating",
            "rating",
            # "weekly_change",
            "event_change",
            "total_change",
        ]
    ]

    print(badminton_date)
    display(result_df)

    file_path = f"elo-scores/{badminton_date}_elo_scores.csv"
    result_df.to_csv(f"./{file_path}", index=False)
    upload_to_github(
        f"./{file_path}", commit_message=f"Upload ELO scores data for {badminton_date}"
    )

2024-10-10

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Isha,4,3,1,5.5,1549.0,49,49
2,Kamil,4,3,1,5.5,1549.0,49,49
3,Khairul,4,3,1,5.4,1538.1,38,38
4,Suraya,4,3,1,5.4,1538.1,38,38
5,Afiqah,4,3,1,5.4,1537.3,37,37
6,Rafiq,4,3,1,5.4,1537.3,37,37
7,Shazwan,4,3,1,5.3,1529.1,29,29
8,Hazwan,4,3,1,5.3,1529.1,29,29
9,Yassier,3,2,1,5.2,1518.5,18,18
10,Alif,4,2,2,5.0,1499.3,-1,-1
11,Maisarah,4,2,2,5.0,1499.3,-1,-1
12,Nadia,3,1,2,4.8,1484.6,-15,-15
13,Mujahid,5,1,4,4.4,1443.2,-57,-57
14,Mirza,4,0,4,4.2,1419.4,-81,-81
15,Hasanah,4,0,4,4.2,1419.4,-81,-81
16,Luqman,5,0,5,4.1,1409.3,-91,-91

File exists! Uploading...
Updated ./elo-scores/2024-10-10_elo_scores.csv in badgerminton/badgerminton-data!
2024-10-17

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,10,8,2,6.2,1619.0,82,119
2,Ammar,4,4,0,5.8,1582.4,82,82
3,Isha,9,6,3,5.6,1555.4,6,55
4,Kamil,4,3,1,5.5,1549.0,49,49
5,Khairul,9,6,3,5.4,1539.6,2,40
6,Suraya,4,3,1,5.4,1538.1,38,38
7,Rafiq,4,3,1,5.4,1537.3,37,37
8,Hazwan,9,6,3,5.4,1535.6,6,36
9,Rushdi,5,3,2,5.3,1533.8,34,34
10,Shazwan,9,6,3,5.3,1530.7,2,31
11,Nadia,8,4,4,5.2,1518.3,34,18
12,Yassier,7,4,3,5.1,1512.9,-6,13
13,Maisarah,4,2,2,5.0,1499.3,-1,-1
14,Alif,4,2,2,5.0,1499.3,-1,-1
15,Zulhakim,6,3,3,4.9,1493.7,-6,-6
16,Lisa,5,2,3,4.7,1474.0,-26,-26
17,Dina,5,1,4,4.6,1458.7,-41,-41
18,Suhailah,5,1,4,4.5,1449.5,-51,-51
19,Hasanah,4,0,4,4.2,1419.4,-81,-81
20,Mujahid,10,3,7,4.2,1417.2,-26,-83
21,Mirza,9,1,8,3.7,1368.8,-51,-131
22,Luqman,10,1,9,3.7,1368.0,-41,-132

File exists! Uploading...
Updated ./elo-scores/2024-10-17_elo_scores.csv in badgerminton/badgerminton-data!
2024-10-31

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Isha,16,12,4,6.4,1644.8,89,145
2,Afiqah,16,12,4,6.3,1633.1,14,133
3,Aidi,6,6,0,6.2,1621.9,122,122
4,Ammar,4,4,0,5.8,1582.4,82,82
5,Rushdi,12,7,5,5.5,1551.0,17,51
6,Kamil,4,3,1,5.5,1549.0,49,49
7,Khairul,15,9,6,5.4,1540.4,1,40
8,Rafiq,4,3,1,5.4,1537.3,37,37
9,Hazwan,9,6,3,5.4,1535.6,6,36
10,Shazwan,9,6,3,5.3,1530.7,2,31
11,Suhayl,4,2,2,5.0,1501.8,2,2
12,Maisarah,4,2,2,5.0,1499.3,-1,-1
13,Alif,4,2,2,5.0,1499.3,-1,-1
14,Lisa,12,6,6,4.9,1493.7,20,-6
15,Zulhakim,6,3,3,4.9,1493.7,-6,-6
16,Suraya,8,4,4,4.9,1491.6,-47,-8
17,Nadia,15,7,8,4.8,1482.4,-36,-18
18,Yassier,14,7,7,4.7,1473.2,-40,-27
19,Faiz,6,2,4,4.7,1470.6,-29,-29
20,Basit,4,1,3,4.7,1468.0,-32,-32
21,Imran,6,2,4,4.6,1462.4,-38,-38
22,Dina,5,1,4,4.6,1458.7,-41,-41
23,Suhailah,5,1,4,4.5,1449.5,-51,-51
24,Mujahid,16,6,10,4.3,1430.9,14,-69
25,Mirza,16,4,12,3.8,1378.0,9,-122
26,Luqman,10,1,9,3.7,1368.0,-41,-132
27,Hasanah,10,1,9,3.5,1352.8,-67,-147

File exists! Uploading...
Updated ./elo-scores/2024-10-31_elo_scores.csv in badgerminton/badgerminton-data!
2024-11-07

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,20,16,4,6.9,1693.4,60,193
2,Isha,23,17,6,6.8,1682.0,37,182
3,Khairul,21,14,7,6.1,1605.4,65,105
4,Hazwan,14,10,4,6.0,1601.7,66,102
5,Aidi,11,8,3,5.9,1588.2,-34,88
6,Ammar,10,7,3,5.8,1580.0,-2,80
7,Kamil,4,3,1,5.5,1549.0,49,49
8,Rafiq,4,3,1,5.4,1537.3,37,37
9,Rushdi,20,10,10,5.3,1530.3,-21,30
10,Suraya,12,7,5,5.2,1522.2,31,22
11,Mujahid,21,10,11,5.1,1512.4,82,12
12,Suhayl,4,2,2,5.0,1501.8,2,2
13,Maisarah,4,2,2,5.0,1499.3,-1,-1
14,Alif,6,3,3,5.0,1495.3,-4,-5
15,Zulhakim,6,3,3,4.9,1493.7,-6,-6
16,Faiz,6,2,4,4.7,1470.6,-29,-29
17,Basit,4,1,3,4.7,1468.0,-32,-32
18,Imran,6,2,4,4.6,1462.4,-38,-38
19,Dina,5,1,4,4.6,1458.7,-41,-41
20,Suhailah,5,1,4,4.5,1449.5,-51,-51
21,Lisa,18,8,10,4.5,1446.6,-47,-53
22,Shazwan,13,6,7,4.4,1443.1,-88,-57
23,Nadia,20,8,12,4.3,1428.8,-54,-71
24,Mirza,22,7,15,4.1,1409.0,31,-91
25,Luqman,10,1,9,3.7,1368.0,-41,-132
26,Hasanah,10,1,9,3.5,1352.8,-67,-147
27,Yassier,21,7,14,3.5,1350.7,-123,-149

File exists! Uploading...
Updated ./elo-scores/2024-11-07_elo_scores.csv in badgerminton/badgerminton-data!
2024-11-14

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,26,20,6,6.9,1689.0,-4,189
2,Isha,23,17,6,6.8,1682.0,37,182
3,Ammar,16,12,4,6.5,1651.7,72,152
4,Rushdi,27,16,11,6.4,1636.2,106,136
5,Hazwan,21,15,6,6.2,1617.9,16,118
6,Khairul,21,14,7,6.1,1605.4,65,105
7,Aidi,11,8,3,5.9,1588.2,-34,88
8,Lina,7,5,2,5.6,1560.0,60,60
9,Kamil,4,3,1,5.5,1549.0,49,49
10,Rafiq,8,5,3,5.3,1532.4,-5,32
11,Haziq,7,4,3,5.3,1526.2,26,26
12,Suraya,12,7,5,5.2,1522.2,31,22
13,Suhayl,4,2,2,5.0,1501.8,2,2
14,Alif,12,6,6,4.9,1494.7,-1,-5
15,Mujahid,26,12,14,4.8,1481.8,-31,-18
16,Mirza,30,12,18,4.8,1477.9,69,-22
17,Maisarah,7,3,4,4.7,1473.6,-26,-26
18,Basit,4,1,3,4.7,1468.0,-32,-32
19,Nadia,27,12,15,4.7,1465.0,36,-35
20,Imran,11,5,6,4.6,1459.2,-3,-41
21,Dina,5,1,4,4.6,1458.7,-41,-41
22,Shazwan,19,9,10,4.5,1453.2,10,-47
23,Zulhakim,9,3,6,4.2,1420.0,-74,-80
24,Faiz,11,2,9,3.8,1375.5,-95,-124
25,Lisa,24,9,15,3.7,1374.5,-72,-125
26,Suhailah,9,1,8,3.7,1369.3,-80,-131
27,Yassier,29,10,19,3.6,1357.9,7,-142
28,Luqman,16,3,13,3.6,1355.8,-12,-144
29,Hasanah,10,1,9,3.5,1352.8,-67,-147

File exists! Uploading...
Updated ./elo-scores/2024-11-14_elo_scores.csv in badgerminton/badgerminton-data!
2024-11-21

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,31,25,6,7.7,1771.7,83,272
2,Isha,28,21,7,7.1,1711.7,30,212
3,Rushdi,27,16,11,6.4,1636.2,106,136
4,Hazwan,21,15,6,6.2,1617.9,16,118
5,Ammar,21,13,8,6.1,1607.2,-45,107
6,Aidi,11,8,3,5.9,1588.2,-34,88
7,Khairul,28,17,11,5.8,1577.0,-28,77
8,Suraya,17,11,6,5.6,1563.3,41,63
9,Lina,7,5,2,5.6,1560.0,60,60
10,Kamil,4,3,1,5.5,1549.0,49,49
11,Mirza,36,17,19,5.4,1540.6,63,41
12,Suhayl,10,6,4,5.4,1537.6,36,38
13,Rafiq,8,5,3,5.3,1532.4,-5,32
14,Haziq,7,4,3,5.3,1526.2,26,26
15,Alif,12,6,6,4.9,1494.7,-1,-5
16,Mujahid,30,14,16,4.8,1478.3,-4,-22
17,Maisarah,7,3,4,4.7,1473.6,-26,-26
18,Basit,4,1,3,4.7,1468.0,-32,-32
19,Imran,11,5,6,4.6,1459.2,-3,-41
20,Dina,5,1,4,4.6,1458.7,-41,-41
21,Shazwan,19,9,10,4.5,1453.2,10,-47
22,Nadia,31,13,18,4.3,1431.4,-34,-69
23,Zulhakim,9,3,6,4.2,1420.0,-74,-80
24,Faiz,11,2,9,3.8,1375.5,-95,-124
25,Suhailah,9,1,8,3.7,1369.3,-80,-131
26,Lisa,29,11,18,3.6,1355.5,-19,-144
27,Luqman,21,5,16,3.5,1350.7,-5,-149
28,Yassier,35,11,24,3.2,1315.9,-42,-184
29,Hasanah,15,1,14,2.8,1276.8,-76,-223

File exists! Uploading...
Updated ./elo-scores/2024-11-21_elo_scores.csv in badgerminton/badgerminton-data!
2024-11-28

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,38,30,8,7.8,1778.3,7,278
2,Isha,28,21,7,7.1,1711.7,30,212
3,Rushdi,34,21,13,6.7,1674.6,38,175
4,Ammar,28,19,9,6.7,1673.9,67,174
5,Hazwan,28,19,9,6.2,1620.7,3,121
6,Aidi,11,8,3,5.9,1588.2,-34,88
7,Lina,15,10,5,5.9,1586.6,27,87
8,Khairul,35,20,15,5.8,1577.6,1,78
9,Suraya,17,11,6,5.6,1563.3,41,63
10,Haziq,14,9,5,5.6,1558.6,32,59
11,Kamil,4,3,1,5.5,1549.0,49,49
12,Suhayl,10,6,4,5.4,1537.6,36,38
13,Rafiq,8,5,3,5.3,1532.4,-5,32
14,Mirza,42,19,23,5.1,1511.1,-30,11
15,Alif,12,6,6,4.9,1494.7,-1,-5
16,Sarah,8,4,4,4.9,1492.0,-8,-8
17,Mujahid,30,14,16,4.8,1478.3,-4,-22
18,Maisarah,7,3,4,4.7,1473.6,-26,-26
19,Basit,4,1,3,4.7,1468.0,-32,-32
20,Imran,11,5,6,4.6,1459.2,-3,-41
21,Dina,5,1,4,4.6,1458.7,-41,-41
22,Alya,7,1,6,4.3,1428.9,-71,-71
23,Shazwan,25,11,14,4.3,1426.3,-27,-74
24,Zulhakim,9,3,6,4.2,1420.0,-74,-80
25,Nadia,38,16,22,4.1,1409.1,-22,-91
26,Lisa,34,14,20,4.0,1398.5,43,-101
27,Faiz,11,2,9,3.8,1375.5,-95,-124
28,Suhailah,9,1,8,3.7,1369.3,-80,-131
29,Luqman,29,8,21,3.4,1344.7,-6,-155
30,Hasanah,15,1,14,2.8,1276.8,-76,-223
31,Yassier,42,12,30,2.6,1262.7,-53,-237

File exists! Uploading...
Updated ./elo-scores/2024-11-28_elo_scores.csv in badgerminton/badgerminton-data!
2024-12-05

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,44,33,11,7.6,1761.7,-17,262
2,Ammar,35,25,10,7.4,1738.6,65,239
3,Isha,33,24,9,7.1,1706.4,-5,206
4,Rushdi,34,21,13,6.7,1674.6,38,175
5,Hazwan,35,23,12,6.3,1634.5,14,134
6,Suraya,21,15,6,6.1,1612.1,49,112
7,Aidi,11,8,3,5.9,1588.2,-34,88
8,Lina,15,10,5,5.9,1586.6,27,87
9,Khairul,41,23,18,5.8,1584.7,7,85
10,Suhayl,13,8,5,5.6,1562.5,25,63
11,Haziq,14,9,5,5.6,1558.6,32,59
12,Kamil,4,3,1,5.5,1549.0,49,49
13,Rafiq,8,5,3,5.3,1532.4,-5,32
14,Alif,18,10,8,5.2,1521.4,27,21
15,Mujahid,36,18,18,5.1,1511.8,33,12
16,Mirza,48,22,26,5.1,1510.3,-1,10
17,Sarah,8,4,4,4.9,1492.0,-8,-8
18,Maisarah,7,3,4,4.7,1473.6,-26,-26
19,Basit,4,1,3,4.7,1468.0,-32,-32
20,Imran,11,5,6,4.6,1459.2,-3,-41
21,Dina,5,1,4,4.6,1458.7,-41,-41
22,Shazwan,28,13,15,4.5,1446.8,21,-53
23,Alya,7,1,6,4.3,1428.9,-71,-71
24,Zulhakim,9,3,6,4.2,1420.0,-74,-80
25,Faiz,11,2,9,3.8,1375.5,-95,-124
26,Suhailah,9,1,8,3.7,1369.3,-80,-131
27,Lisa,39,15,24,3.5,1354.5,-44,-145
28,Nadia,44,17,27,3.4,1336.0,-73,-164
29,Yassier,49,15,34,2.9,1291.5,29,-209
30,Luqman,35,9,26,2.9,1290.9,-54,-209
31,Hasanah,20,1,19,2.0,1201.7,-75,-298

File exists! Uploading...
Updated ./elo-scores/2024-12-05_elo_scores.csv in badgerminton/badgerminton-data!
2024-12-12

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,50,38,12,8.0,1802.5,41,302
2,Isha,33,24,9,7.1,1706.4,-5,206
3,Ammar,40,27,13,7.0,1701.3,-37,201
4,Hazwan,40,26,14,6.6,1657.4,23,157
5,Lina,20,13,7,6.2,1620.7,34,121
6,Suraya,21,15,6,6.1,1612.1,49,112
7,Rushdi,41,23,18,6.1,1609.2,-65,109
8,Haziq,19,12,7,5.9,1592.6,34,93
9,Aidi,11,8,3,5.9,1588.2,-34,88
10,Khairul,41,23,18,5.8,1584.7,7,85
11,Suhayl,13,8,5,5.6,1562.5,25,63
12,Mujahid,40,21,19,5.6,1556.6,45,57
13,Kamil,4,3,1,5.5,1549.0,49,49
14,Rafiq,8,5,3,5.3,1532.4,-5,32
15,Zarif,6,4,2,5.3,1528.5,29,29
16,Alif,23,13,10,5.3,1527.4,6,27
17,Sarah,8,4,4,4.9,1492.0,-8,-8
18,Maisarah,7,3,4,4.7,1473.6,-26,-26
19,Basit,4,1,3,4.7,1468.0,-32,-32
20,Shazwan,33,16,17,4.7,1465.5,19,-34
21,Imran,11,5,6,4.6,1459.2,-3,-41
22,Dina,5,1,4,4.6,1458.7,-41,-41
23,Hidayat,4,0,4,4.3,1429.8,-70,-70
24,Alya,7,1,6,4.3,1428.9,-71,-71
25,Mirza,53,22,31,4.3,1426.7,-84,-73
26,Zulhakim,9,3,6,4.2,1420.0,-74,-80
27,Faiz,11,2,9,3.8,1375.5,-95,-124
28,Suhailah,9,1,8,3.7,1369.3,-80,-131
29,Lisa,39,15,24,3.5,1354.5,-44,-145
30,Yassier,54,18,36,3.4,1342.3,51,-158
31,Nadia,49,19,30,3.1,1312.0,-24,-188
32,Luqman,35,9,26,2.9,1290.9,-54,-209
33,Hasanah,20,1,19,2.0,1201.7,-75,-298

File exists! Uploading...
Updated ./elo-scores/2024-12-12_elo_scores.csv in badgerminton/badgerminton-data!
2025-01-02

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,55,42,13,8.3,1826.4,24,326
2,Isha,33,24,9,7.1,1706.4,-5,206
3,Ammar,46,30,16,7.0,1702.5,1,202
4,Rushdi,48,28,20,6.6,1658.9,50,159
5,Hazwan,40,26,14,6.6,1657.4,23,157
6,Lina,20,13,7,6.2,1620.7,34,121
7,Suraya,21,15,6,6.1,1612.1,49,112
8,Haziq,19,12,7,5.9,1592.6,34,93
9,Aidi,11,8,3,5.9,1588.2,-34,88
10,Khairul,41,23,18,5.8,1584.7,7,85
11,Kamil,10,7,3,5.7,1573.7,25,74
12,Suhayl,13,8,5,5.6,1562.5,25,63
13,Mujahid,45,23,22,5.4,1542.2,-14,42
14,Rafiq,8,5,3,5.3,1532.4,-5,32
15,Zarif,6,4,2,5.3,1528.5,29,29
16,Ilham,4,2,2,5.2,1515.2,15,15
17,Khairina,3,2,1,5.0,1503.9,4,4
18,Mirza,58,26,32,5.0,1497.9,71,-2
19,Sarah,8,4,4,4.9,1492.0,-8,-8
20,Alif,29,15,14,4.9,1486.3,-41,-14
21,Haikal,4,2,2,4.8,1482.4,-18,-18
22,Maisarah,7,3,4,4.7,1473.6,-26,-26
23,Shazwan,38,18,20,4.7,1469.3,4,-31
24,Basit,4,1,3,4.7,1468.0,-32,-32
25,Imran,11,5,6,4.6,1459.2,-3,-41
26,Dina,5,1,4,4.6,1458.7,-41,-41
27,Azril,4,1,3,4.4,1436.7,-63,-63
28,Alya,7,1,6,4.3,1428.9,-71,-71
29,Hidayat,9,2,7,4.2,1422.5,-7,-77
30,Zulhakim,9,3,6,4.2,1420.0,-74,-80
31,Faiz,11,2,9,3.8,1375.5,-95,-124
32,Suhailah,9,1,8,3.7,1369.3,-80,-131
33,Lisa,39,15,24,3.5,1354.5,-44,-145
34,Yassier,54,18,36,3.4,1342.3,51,-158
35,Nadia,49,19,30,3.1,1312.0,-24,-188
36,Luqman,42,10,32,2.4,1240.8,-50,-259
37,Hasanah,20,1,19,2.0,1201.7,-75,-298

File exists! Uploading...
Updated ./elo-scores/2025-01-02_elo_scores.csv in badgerminton/badgerminton-data!
2025-01-09

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,59,44,15,8.1,1811.9,-15,312
2,Isha,33,24,9,7.1,1706.4,-5,206
3,Ammar,51,33,18,7.0,1695.9,-7,196
4,Hazwan,40,26,14,6.6,1657.4,23,157
5,Rushdi,52,30,22,6.5,1652.4,-7,152
6,Khairul,45,26,19,6.3,1631.8,47,132
7,Lina,20,13,7,6.2,1620.7,34,121
8,Suraya,26,18,8,6.1,1608.0,-4,108
9,Haziq,19,12,7,5.9,1592.6,34,93
10,Eijen,4,4,0,5.9,1590.8,91,91
11,Aidi,11,8,3,5.9,1588.2,-34,88
12,Kamil,10,7,3,5.7,1573.7,25,74
13,Mujahid,49,25,24,5.4,1544.5,2,45
14,Rafiq,8,5,3,5.3,1532.4,-5,32
15,Zarif,6,4,2,5.3,1528.5,29,29
16,Ilham,4,2,2,5.2,1515.2,15,15
17,Suhayl,18,9,9,5.1,1508.5,-54,8
18,Mirza,62,28,34,5.0,1503.9,6,4
19,Sarah,8,4,4,4.9,1492.0,-8,-8
20,Alif,29,15,14,4.9,1486.3,-41,-14
21,Haikal,4,2,2,4.8,1482.4,-18,-18
22,Maisarah,7,3,4,4.7,1473.6,-26,-26
23,Basit,4,1,3,4.7,1468.0,-32,-32
24,Imran,11,5,6,4.6,1459.2,-3,-41
25,Dina,5,1,4,4.6,1458.7,-41,-41
26,Shazwan,42,20,22,4.6,1455.8,-13,-44
27,Khairina,5,2,3,4.5,1451.6,-52,-48
28,Azril,4,1,3,4.4,1436.7,-63,-63
29,Alya,7,1,6,4.3,1428.9,-71,-71
30,Zulhakim,9,3,6,4.2,1420.0,-74,-80
31,Hidayat,12,3,9,4.1,1411.7,-11,-88
32,Suhailah,9,1,8,3.7,1369.3,-80,-131
33,Lisa,39,15,24,3.5,1354.5,-44,-145
34,Yassier,54,18,36,3.4,1342.3,51,-158
35,Luqman,46,13,33,3.2,1318.2,77,-182
36,Faiz,15,2,13,3.1,1314.2,-61,-186
37,Nadia,49,19,30,3.1,1312.0,-24,-188
38,Hasanah,20,1,19,2.0,1201.7,-75,-298

File exists! Uploading...
Updated ./elo-scores/2025-01-09_elo_scores.csv in badgerminton/badgerminton-data!
2025-01-16

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,63,47,16,8.3,1825.9,14,326
2,Ammar,56,37,19,7.3,1734.1,38,234
3,Isha,33,24,9,7.1,1706.4,-5,206
4,Rushdi,52,30,22,6.5,1652.4,-7,152
5,Hazwan,44,28,16,6.5,1645.9,-12,146
6,Lina,26,17,9,6.4,1640.8,20,141
7,Suraya,26,18,8,6.1,1608.0,-4,108
8,Eijen,4,4,0,5.9,1590.8,91,91
9,Aidi,11,8,3,5.9,1588.2,-34,88
10,Kamil,10,7,3,5.7,1573.7,25,74
11,Khairul,49,27,22,5.7,1572.2,-60,72
12,Mirza,67,32,35,5.7,1570.4,67,70
13,Haziq,24,14,10,5.7,1565.0,-28,65
14,Rafiq,8,5,3,5.3,1532.4,-5,32
15,Zarif,6,4,2,5.3,1528.5,29,29
16,Ilham,4,2,2,5.2,1515.2,15,15
17,Mujahid,54,27,27,5.1,1512.1,-32,12
18,Adib,5,2,3,5.1,1508.8,9,9
19,Suhayl,18,9,9,5.1,1508.5,-54,8
20,Alif,32,17,15,5.0,1504.0,18,4
21,Sarah,8,4,4,4.9,1492.0,-8,-8
22,Haikal,4,2,2,4.8,1482.4,-18,-18
23,Maisarah,7,3,4,4.7,1473.6,-26,-26
24,Basit,4,1,3,4.7,1468.0,-32,-32
25,Imran,11,5,6,4.6,1459.2,-3,-41
26,Dina,5,1,4,4.6,1458.7,-41,-41
27,Khairina,5,2,3,4.5,1451.6,-52,-48
28,Azril,4,1,3,4.4,1436.7,-63,-63
29,Alya,7,1,6,4.3,1428.9,-71,-71
30,Zulhakim,9,3,6,4.2,1420.0,-74,-80
31,Hidayat,12,3,9,4.1,1411.7,-11,-88
32,Shazwan,47,21,26,4.0,1395.4,-60,-105
33,Suhailah,9,1,8,3.7,1369.3,-80,-131
34,Luqman,53,17,36,3.7,1366.5,48,-133
35,Yassier,54,18,36,3.4,1342.3,51,-158
36,Nadia,54,22,32,3.4,1337.5,26,-163
37,Faiz,15,2,13,3.1,1314.2,-61,-186
38,Lisa,43,15,28,2.8,1281.4,-73,-219
39,Hasanah,25,3,22,2.3,1227.3,26,-273

File exists! Uploading...
Updated ./elo-scores/2025-01-16_elo_scores.csv in badgerminton/badgerminton-data!
2025-01-23

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,68,51,17,8.6,1861.5,36,361
2,Ammar,62,41,21,7.6,1758.4,24,258
3,Isha,33,24,9,7.1,1706.4,-5,206
4,Hazwan,44,28,16,6.5,1645.9,-12,146
5,Rushdi,58,33,25,6.4,1641.2,-11,141
6,Lina,33,21,12,6.4,1638.7,-2,139
7,Suraya,26,18,8,6.1,1608.0,-4,108
8,Aidi,16,11,5,6.1,1606.7,18,107
9,Eijen,4,4,0,5.9,1590.8,91,91
10,Fazli,5,5,0,5.9,1587.4,87,87
11,Khairul,50,28,22,5.8,1584.5,12,85
12,Kamil,10,7,3,5.7,1573.7,25,74
13,Mirza,67,32,35,5.7,1570.4,67,70
14,Omar,6,4,2,5.5,1549.0,49,49
15,Rafiq,8,5,3,5.3,1532.4,-5,32
16,Zarif,6,4,2,5.3,1528.5,29,29
17,Adib,5,2,3,5.1,1508.8,9,9
18,Suhayl,18,9,9,5.1,1508.5,-54,8
19,Alif,32,17,15,5.0,1504.0,18,4
20,Mujahid,58,29,29,5.0,1499.4,-13,-1
21,Haziq,31,15,16,5.0,1496.6,-68,-3
22,Sarah,8,4,4,4.9,1492.0,-8,-8
23,Haikal,4,2,2,4.8,1482.4,-18,-18
24,Maisarah,7,3,4,4.7,1473.6,-26,-26
25,Afiq,5,2,3,4.7,1469.2,-31,-31
26,Basit,4,1,3,4.7,1468.0,-32,-32
27,Imran,11,5,6,4.6,1459.2,-3,-41
28,Dina,5,1,4,4.6,1458.7,-41,-41
29,Ilham,9,3,6,4.6,1458.0,-57,-42
30,Khairina,5,2,3,4.5,1451.6,-52,-48
31,Azril,4,1,3,4.4,1436.7,-63,-63
32,Alya,7,1,6,4.3,1428.9,-71,-71
33,Zulhakim,9,3,6,4.2,1420.0,-74,-80
34,Hidayat,12,3,9,4.1,1411.7,-11,-88
35,Shazwan,47,21,26,4.0,1395.4,-60,-105
36,Suhailah,9,1,8,3.7,1369.3,-80,-131
37,Luqman,53,17,36,3.7,1366.5,48,-133
38,Nadia,60,24,36,3.3,1334.9,-3,-165
39,Faiz,15,2,13,3.1,1314.2,-61,-186
40,Yassier,58,18,40,3.0,1299.5,-43,-200
41,Lisa,43,15,28,2.8,1281.4,-73,-219
42,Hasanah,29,5,24,2.3,1228.0,1,-272

File exists! Uploading...
Updated ./elo-scores/2025-01-23_elo_scores.csv in badgerminton/badgerminton-data!