In [44]:
import math
from typing import TypedDict

import pandas as pd

from helpers import upload_to_github

Rating = TypedDict("Rating", {"rating": float, "event": str})
Player = TypedDict(
    "Player",
    {
        "name": str,
        "played": int,
        "wins": int,
        "losses": int,
        "rating": float,
        "rating_history": list[Rating],
        'opponent_value_sum': float,
        'opponent_value': float,
    },
)
Match = TypedDict(
    "Match",
    {
        "team_a": list[Player],
        "team_b": list[Player],
        "score_a": int,
        "score_b": int,
        "winner": list[Player],
        "loser": list[Player],
    },
)
MatchResult = TypedDict(
    "MatchResult",
    {
        "player_1_played": int,
        "player_1_wins": int,
        "player_1_losses": int,
        "player_1_rating": float,
        "player_1_opponent_value": float,
        "player_2_played": int,
        "player_2_wins": int,
        "player_2_losses": int,
        "player_2_rating": float,
        "player_2_opponent_value": float,
        "player_3_played": int,
        "player_3_wins": int,
        "player_3_losses": int,
        "player_3_rating": float,
        "player_3_opponent_value": float,
        "player_4_played": int,
        "player_4_wins": int,
        "player_4_losses": int,
        "player_4_rating": float,
        "player_4_opponent_value": float
    },
)
MatchResultRating = TypedDict(
    "MatchResultRating",
    {
        "player_1_rating": float,
        "player_2_rating": float,
        "player_3_rating": float,
        "player_4_rating": float,
        "player_1_opponent_value": float,
        "player_2_opponent_value": float,
        "player_3_opponent_value": float,
        "player_4_opponent_value": float,
        
    },
)


def create_player(name: str) -> Player:
    """
    Creates a new player with the given name and initializes their statistics.

    Args:
        name (str): The name of the player.

    Returns:
        dict[str, Any]: A dictionary representing the player with initialized stats.
    """
    return {
        "name": name,
        "played": 0,
        "wins": 0,
        "losses": 0,
        "rating": 1500,  # Initial Elo rating
        "opponent_value": 0,
        "opponent_value_sum": 0,
        "partner_value": 0,
        "partner_value_sum": 0,
        "rating_history": [],
    }


def create_match(
    team_a: list[Player],
    team_b: list[Player],
    score_a: int,
    score_b: int,
) -> Match:
    """
    Creates a match between two teams and records the scores and results.

    Args:
        team_a (list[dict[str, Any]]): The first team consisting of players.
        team_b (list[dict[str, Any]]): The second team consisting of players.
        score_a (int): The score of team A.
        score_b (int): The score of team B.

    Returns:
        dict[str, Any]: A dictionary representing the match details, including teams and scores.
    """
    return {
        "team_a": team_a,
        "team_b": team_b,
        "score_a": score_a,
        "score_b": score_b,
        "winner": team_a if score_a > score_b else team_b,
        "loser": team_b if score_a > score_b else team_a,
    }


def play_match(match: Match) -> MatchResult:
    """
    Processes the match results, updating player records and ratings based on the scores.

    Args:
        match (Match): The match details containing teams and scores.
    """
    match_result: MatchResult = {
        "player_1_played": 1,
        "player_1_wins": 0,
        "player_1_losses": 0,
        "player_1_rating": 0,
        "player_2_played": 1,
        "player_2_wins": 0,
        "player_2_losses": 0,
        "player_2_rating": 0,
        "player_3_played": 1,
        "player_3_wins": 0,
        "player_3_losses": 0,
        "player_3_rating": 0,
        "player_4_played": 1,
        "player_4_wins": 0,
        "player_4_losses": 0,
        "player_4_rating": 0,
    }

    # If team A wins
    if match["score_a"] > match["score_b"]:
        # record a win for player 1 and 2
        match_result["player_1_wins"] = 1
        match_result["player_2_wins"] = 1

        # record a loss for player 3 and 4
        match_result["player_3_losses"] = 1
        match_result["player_4_losses"] = 1

    # If team B wins
    else:
        # record a win for player 3 and 4
        match_result["player_3_wins"] = 1
        match_result["player_4_wins"] = 1

        # record a loss for player 1 and 2
        match_result["player_1_losses"] = 1
        match_result["player_2_losses"] = 1

    # Calculate rating
    rating = calculate_ratings(
        team_a=match["team_a"],
        team_b=match["team_b"],
        score_a=match["score_a"],
        score_b=match["score_b"],
    )

    match_result["player_1_rating"] = rating["player_1_rating"]
    match_result["player_2_rating"] = rating["player_2_rating"]
    match_result["player_3_rating"] = rating["player_3_rating"]
    match_result["player_4_rating"] = rating["player_4_rating"]
    match_result["opponent_value_A"] = rating["opponent_value_A"]
    match_result["opponent_value_B"] = rating["opponent_value_B"]
    match_result["partner_value_A_1"] = rating["partner_value_A_1"]
    match_result["partner_value_A_2"] = rating["partner_value_A_2"]
    match_result["partner_value_B_1"] = rating["partner_value_B_1"]
    match_result["partner_value_B_2"] = rating["partner_value_B_2"]


    return match_result


def calculate_ratings(
    team_a: list[Player],
    team_b: list[Player],
    score_a: int,
    score_b: int,
    k_factor: int = 32,
) -> MatchResultRating:
    """
    Updates the ratings for each player in two teams competing in a doubles match.

    Args:
        team_a (list[Player]): The first team consisting of players.
        team_b (list[Player]): The second team consisting of players.
        score_a (int): The score of team A.
        score_b (int): The score of team B.
        k_factor (int, optional): The K-factor for rating adjustment. Default is 32.

    """
    match_result_rating: MatchResultRating = {
        "player_1_rating": 0,
        "player_2_rating": 0,
        "player_3_rating": 0,
        "player_4_rating": 0,
        "opponent_value_A": 0,
        "opponent_value_B": 0,
        "partner_value_A": 0,
        "partner_value_B": 0,
    }

    rating_team_a = (team_a[0]["rating"] + team_a[1]["rating"]) / 2
    rating_team_b = (team_b[0]["rating"] + team_b[1]["rating"]) / 2

    match_result_rating["opponent_value_A"] = rating_team_b
    match_result_rating["opponent_value_B"] = rating_team_a

    match_result_rating["partner_value_A_1"] = team_a[1]["rating"]
    match_result_rating["partner_value_A_2"] = team_a[0]['rating']
    match_result_rating["partner_value_B_1"] = team_b[1]["rating"]
    match_result_rating["partner_value_B_2"] = team_b[0]['rating']

    expected_score_a = 1 / (1 + math.pow(10, (rating_team_b - rating_team_a) / 400))
    expected_score_b = 1 / (1 + math.pow(10, (rating_team_a - rating_team_b) / 400))

    actual_score_a = 1 if score_a > score_b else 0
    actual_score_b = 1 if score_b > score_a else 0

    margin_factor = 1 + abs(score_a - score_b) / 21

    # Update team A rating
    rating_change_team_a = (
        k_factor * margin_factor * (actual_score_a - expected_score_a)
    )
    match_result_rating["player_1_rating"] = rating_change_team_a
    match_result_rating["player_2_rating"] = rating_change_team_a

    # Update team B rating
    rating_change_team_b = (
        k_factor * margin_factor * (actual_score_b - expected_score_b)
    )
    match_result_rating["player_3_rating"] = rating_change_team_b
    match_result_rating["player_4_rating"] = rating_change_team_b

    # for player in team_b:
    #     rating_change = k_factor * margin_factor * (actual_score_b - expected_score_b)
    #     player["rating"] += rating_change

    return match_result_rating


def scaled_rating(rating: float) -> float:
    """
    Scales the player's rating to a 10-point scale.

    Args:
        rating (float): The raw rating of the player.

    Returns:
        float: The scaled rating between 0 and 10, rounded to one decimal place.
    """
    min_rating = 1000
    max_rating = 2000
    scaled = (rating - min_rating) / (max_rating - min_rating) * 10
    return round(max(0, min(scaled, 10)), 1)  # Keep the result between 0 and 10


def get_last_week_rating_change(rating_history: list[Rating]) -> float:
    """
    Calculates the change in rating from last available session (typically last week) to the current rating.

    Args:
        rating_history (list[Rating]): The rating history of a player.

    Returns:
        float: The change in rating from the last available session.
    """
    if len(rating_history) < 2:
        return 0  # No previous events to compare
    current = rating_history[-1]["rating"]
    previous = rating_history[-2]["rating"]
    return current - previous


def get_last_event_rating_change(rating_history: list[Rating]) -> float:
    """
    Calculates the change in rating from the last recorded event to the current rating.

    Args:
        rating_history (list[Rating]): The rating history of a player.

    Returns:
        float: The change in rating from the last event.
    """
    if len(rating_history) == 0:
        return 0  # No previous events to compare

    elif len(rating_history) == 1:
        return rating_history[0]["rating"] - 1500

    current = rating_history[-1]["rating"]
    previous = rating_history[-2]["rating"]
    return current - previous


player_dict: dict[str, Player] = {}

for badminton_date in ["2024-10-10", "2024-10-17", "2024-10-31", "2024-11-07"]:
    df = pd.read_csv(
        f"https://raw.githubusercontent.com/BadgerMinton/badgerminton-data/refs/heads/main/matches/{badminton_date}_match_results.csv"
    )

    # Create a Player "database"
    player_names = pd.concat(
        [df[col] for col in ["player_a_1", "player_a_2", "player_b_1", "player_b_2"]]
    ).unique()
    for player_name in player_names:
        if player_name not in player_dict:
            player = create_player(name=player_name)
            player_dict[player_name] = player

    for player_name in player_names:
        if "opponent_value" not in player_dict[player_name]:
            player_dict[player_name]["opponent_value"] = 0  # or an appropriate default value
        
        elif "partner_value" not in player_dict[player_name]:
            player_dict[player_name]["partner_value"] = 0  # or an appropriate default value


    for index, row in df.iterrows():
        # Create players
        player1 = player_dict[row["player_a_1"]]
        player2 = player_dict[row["player_a_2"]]
        player3 = player_dict[row["player_b_1"]]
        player4 = player_dict[row["player_b_2"]]

        # Create teams
        team_a = [player1, player2]  # Team A: Alice and Bob
        team_b = [player3, player4]  # Team B: Charlie and Diana

        # Create a match
        match = create_match(
            team_a, team_b, score_a=row["score_a"], score_b=row["score_b"]
        )

        # Play the match
        match_result = play_match(match)

        # Save the values
        # Player 1
        player_dict[row["player_a_1"]]["wins"] += match_result["player_1_wins"]
        player_dict[row["player_a_1"]]["losses"] += match_result["player_1_losses"]
        player_dict[row["player_a_1"]]["played"] += match_result["player_1_played"]
        player_dict[row["player_a_1"]]["rating"] += match_result["player_1_rating"]
        player_dict[row["player_a_1"]]["opponent_value_sum"] += match_result["opponent_value_A"] 
        player_dict[row["player_a_1"]]["opponent_value"] = player_dict[row["player_a_1"]]["opponent_value_sum"] / player_dict[row["player_a_1"]]["played"]
        player_dict[row["player_a_1"]]["partner_value_sum"] += match_result["partner_value_A_1"] 
        player_dict[row["player_a_1"]]["partner_value"] = player_dict[row["player_a_1"]]["partner_value_sum"] / player_dict[row["player_a_1"]]["played"]


        # Player 2
        player_dict[row["player_a_2"]]["wins"] += match_result["player_2_wins"]
        player_dict[row["player_a_2"]]["losses"] += match_result["player_2_losses"]
        player_dict[row["player_a_2"]]["played"] += match_result["player_2_played"]
        player_dict[row["player_a_2"]]["rating"] += match_result["player_2_rating"]
        player_dict[row["player_a_2"]]["opponent_value_sum"] += match_result["opponent_value_A"] 
        player_dict[row["player_a_2"]]["opponent_value"] = player_dict[row["player_a_2"]]["opponent_value_sum"] / player_dict[row["player_a_2"]]["played"]
        player_dict[row["player_a_2"]]["partner_value_sum"] += match_result["partner_value_A_2"] 
        player_dict[row["player_a_2"]]["partner_value"] = player_dict[row["player_a_2"]]["partner_value_sum"] / player_dict[row["player_a_2"]]["played"]

        # Player 3
        player_dict[row["player_b_1"]]["wins"] += match_result["player_3_wins"]
        player_dict[row["player_b_1"]]["losses"] += match_result["player_3_losses"]
        player_dict[row["player_b_1"]]["played"] += match_result["player_3_played"]
        player_dict[row["player_b_1"]]["rating"] += match_result["player_3_rating"]
        player_dict[row["player_b_1"]]["opponent_value_sum"] += match_result["opponent_value_B"] 
        player_dict[row["player_b_1"]]["opponent_value"] = player_dict[row["player_b_1"]]["opponent_value_sum"] / player_dict[row["player_b_1"]]["played"]
        player_dict[row["player_b_1"]]["partner_value_sum"] += match_result["partner_value_B_1"] 
        player_dict[row["player_b_1"]]["partner_value"] = player_dict[row["player_b_1"]]["partner_value_sum"] / player_dict[row["player_b_1"]]["played"]

        # Player 4
        player_dict[row["player_b_2"]]["wins"] += match_result["player_4_wins"]
        player_dict[row["player_b_2"]]["losses"] += match_result["player_4_losses"]
        player_dict[row["player_b_2"]]["played"] += match_result["player_4_played"]
        player_dict[row["player_b_2"]]["rating"] += match_result["player_4_rating"]
        player_dict[row["player_b_2"]]["opponent_value_sum"] += match_result["opponent_value_B"] 
        player_dict[row["player_b_2"]]["opponent_value"] = player_dict[row["player_b_2"]]["opponent_value_sum"] / player_dict[row["player_b_2"]]["played"]
        player_dict[row["player_b_2"]]["partner_value_sum"] += match_result["partner_value_B_2"] 
        player_dict[row["player_b_2"]]["partner_value"] = player_dict[row["player_b_2"]]["partner_value_sum"] / player_dict[row["player_b_2"]]["played"]

    # Record ratings for this event
    for player_name in player_names:
        # player = create_player(name=player_name)
        player_dict[player_name]["rating_history"].append(
            {"rating": player_dict[player_name]["rating"], "event": badminton_date, "opponent_value": player_dict[player_name]["opponent_value"], "patner_value": player_dict[player_name]["partner_value"]}
        )

    # Convert dict to DataFrame
    result_df = pd.DataFrame.from_records(
        [player for player in [p for p in player_dict.values()]]
    )
    
    # Calculate opponent_value
    result_df["opponent_value"] = result_df["opponent_value"].apply(scaled_rating)

    # Calculate partner_value
    result_df["partner_value"] = result_df["partner_value"].apply(scaled_rating)

    # Sort according to rating
    result_df = result_df.sort_values(by="rating", ascending=False).reset_index(
        drop=True
    )

    # Calculate weekly rating change
    result_df["weekly_change"] = result_df["rating_history"].apply(
        get_last_week_rating_change
    )
    # Calculate event rating change
    result_df["event_change"] = result_df["rating_history"].apply(
        get_last_event_rating_change
    )
    # Calculate total rating change
    result_df["total_change"] = result_df["rating"] - 1500

    # Calculate scaled rating
    result_df["scaled_rating"] = result_df["rating"].apply(scaled_rating)

    # Set index to start at 1
    result_df.index = pd.RangeIndex(start=1, stop=len(result_df) + 1)

    # Make the decimal points more human readable
    result_df[["weekly_change", "event_change", "total_change"]] = result_df[
        ["weekly_change", "event_change", "total_change"]
    ].apply(lambda x: x.round(0).astype(int))
    result_df[["rating"]] = result_df[["rating"]].apply(lambda x: x.round(1))

    result_df = result_df[
        [
            "name",
            "played",
            "wins",
            "losses",
            "scaled_rating",
            "rating",
            # "weekly_change",
            "event_change",
            "total_change",
            "opponent_value",
            "partner_value",
        ]
    ]

    print(badminton_date)
    display(result_df)

    file_path = f"elo-scores/{badminton_date}_elo_scores.csv"
    result_df.to_csv(f"./{file_path}", index=False)
    upload_to_github(
        f"./{file_path}", commit_message=f"Upload ELO scores data for {badminton_date}"
    )

2024-10-10

,name,played,wins,losses,scaled_rating,rating,event_change,total_change,opponent_value,partner_value
1,Isha,4,3,1,5.5,1549.0,49,49,5.1,5.1
2,Kamil,4,3,1,5.5,1549.0,49,49,5.1,5.1
3,Khairul,4,3,1,5.4,1538.1,38,38,4.9,5.3
4,Suraya,4,3,1,5.4,1538.1,38,38,4.9,5.3
5,Afiqah,4,3,1,5.4,1537.3,37,37,4.9,5.2
6,Rafiq,4,3,1,5.4,1537.3,37,37,4.9,5.2
7,Shazwan,4,3,1,5.3,1529.1,29,29,5.1,5.3
8,Hazwan,4,3,1,5.3,1529.1,29,29,5.1,5.3
9,Yassier,3,2,1,5.2,1518.5,18,18,5.0,4.8
10,Alif,4,2,2,5.0,1499.3,-1,-1,4.9,4.8
11,Maisarah,4,2,2,5.0,1499.3,-1,-1,4.9,4.8
12,Nadia,3,1,2,4.8,1484.6,-15,-15,5.3,4.8
13,Mujahid,5,1,4,4.4,1443.2,-57,-57,4.9,4.8
14,Mirza,4,0,4,4.2,1419.4,-81,-81,5.0,4.7
15,Hasanah,4,0,4,4.2,1419.4,-81,-81,5.0,4.7
16,Luqman,5,0,5,4.1,1409.3,-91,-91,5.1,4.8

File exists! Uploading...
Updated ./elo-scores/2024-10-10_elo_scores.csv in badgerminton/badgerminton-data!
2024-10-17

,name,played,wins,losses,scaled_rating,rating,event_change,total_change,opponent_value,partner_value
1,Afiqah,10,8,2,6.2,1619.0,82,119,5.0,5.2
2,Ammar,4,4,0,5.8,1582.4,82,82,5.2,5.5
3,Isha,9,6,3,5.6,1555.4,6,55,5.0,5.3
4,Kamil,4,3,1,5.5,1549.0,49,49,5.1,5.1
5,Khairul,9,6,3,5.4,1539.6,2,40,4.9,5.5
6,Suraya,4,3,1,5.4,1538.1,38,38,4.9,5.3
7,Rafiq,4,3,1,5.4,1537.3,37,37,4.9,5.2
8,Hazwan,9,6,3,5.4,1535.6,6,36,5.0,5.5
9,Rushdi,5,3,2,5.3,1533.8,34,34,5.2,4.7
10,Shazwan,9,6,3,5.3,1530.7,2,31,5.0,5.5
11,Nadia,8,4,4,5.2,1518.3,34,18,5.2,4.8
12,Yassier,7,4,3,5.1,1512.9,-6,13,4.9,5.0
13,Maisarah,4,2,2,5.0,1499.3,-1,-1,4.9,4.8
14,Alif,4,2,2,5.0,1499.3,-1,-1,4.9,4.8
15,Zulhakim,6,3,3,4.9,1493.7,-6,-6,4.9,5.5
16,Lisa,5,2,3,4.7,1474.0,-26,-26,4.9,4.5
17,Dina,5,1,4,4.6,1458.7,-41,-41,4.8,3.7
18,Suhailah,5,1,4,4.5,1449.5,-51,-51,5.0,3.9
19,Hasanah,4,0,4,4.2,1419.4,-81,-81,5.0,4.7
20,Mujahid,10,3,7,4.2,1417.2,-26,-83,4.9,4.9
21,Mirza,9,1,8,3.7,1368.8,-51,-131,5.0,4.7
22,Luqman,10,1,9,3.7,1368.0,-41,-132,5.0,4.7

File exists! Uploading...
Updated ./elo-scores/2024-10-17_elo_scores.csv in badgerminton/badgerminton-data!
2024-10-31

,name,played,wins,losses,scaled_rating,rating,event_change,total_change,opponent_value,partner_value
1,Isha,16,12,4,6.4,1644.8,89,145,5.0,5.0
2,Afiqah,16,12,4,6.3,1633.1,14,133,5.0,5.3
3,Aidi,6,6,0,6.2,1621.9,122,122,4.9,4.8
4,Ammar,4,4,0,5.8,1582.4,82,82,5.2,5.5
5,Rushdi,12,7,5,5.5,1551.0,17,51,5.2,4.9
6,Kamil,4,3,1,5.5,1549.0,49,49,5.1,5.1
7,Khairul,15,9,6,5.4,1540.4,1,40,4.9,5.3
8,Rafiq,4,3,1,5.4,1537.3,37,37,4.9,5.2
9,Hazwan,9,6,3,5.4,1535.6,6,36,5.0,5.5
10,Shazwan,9,6,3,5.3,1530.7,2,31,5.0,5.5
11,Suhayl,4,2,2,5.0,1501.8,2,2,5.2,5.2
12,Maisarah,4,2,2,5.0,1499.3,-1,-1,4.9,4.8
13,Alif,4,2,2,5.0,1499.3,-1,-1,4.9,4.8
14,Lisa,12,6,6,4.9,1493.7,20,-6,5.0,5.1
15,Zulhakim,6,3,3,4.9,1493.7,-6,-6,4.9,5.5
16,Suraya,8,4,4,4.9,1491.6,-47,-8,5.0,5.5
17,Nadia,15,7,8,4.8,1482.4,-36,-18,4.9,4.8
18,Yassier,14,7,7,4.7,1473.2,-40,-27,4.7,5.0
19,Faiz,6,2,4,4.7,1470.6,-29,-29,5.2,4.9
20,Basit,4,1,3,4.7,1468.0,-32,-32,5.5,4.7
21,Imran,6,2,4,4.6,1462.4,-38,-38,4.9,4.5
22,Dina,5,1,4,4.6,1458.7,-41,-41,4.8,3.7
23,Suhailah,5,1,4,4.5,1449.5,-51,-51,5.0,3.9
24,Mujahid,16,6,10,4.3,1430.9,14,-69,5.0,4.9
25,Mirza,16,4,12,3.8,1378.0,9,-122,5.1,4.8
26,Luqman,10,1,9,3.7,1368.0,-41,-132,5.0,4.7
27,Hasanah,10,1,9,3.5,1352.8,-67,-147,5.1,4.8

File exists! Uploading...
Updated ./elo-scores/2024-10-31_elo_scores.csv in badgerminton/badgerminton-data!
2024-11-07

,name,played,wins,losses,scaled_rating,rating,event_change,total_change,opponent_value,partner_value
1,Afiqah,20,16,4,6.9,1693.4,60,193,5.0,5.4
2,Isha,23,17,6,6.8,1682.0,37,182,5.0,5.0
3,Khairul,21,14,7,6.1,1605.4,65,105,4.9,5.3
4,Hazwan,14,10,4,6.0,1601.7,66,102,5.1,5.4
5,Aidi,11,8,3,5.9,1588.2,-34,88,5.1,4.9
6,Ammar,10,7,3,5.8,1580.0,-2,80,5.1,5.3
7,Kamil,4,3,1,5.5,1549.0,49,49,5.1,5.1
8,Rafiq,4,3,1,5.4,1537.3,37,37,4.9,5.2
9,Rushdi,20,10,10,5.3,1530.3,-21,30,5.3,5.0
10,Suraya,12,7,5,5.2,1522.2,31,22,5.0,5.6
11,Mujahid,21,10,11,5.1,1512.4,82,12,5.0,4.9
12,Suhayl,4,2,2,5.0,1501.8,2,2,5.2,5.2
13,Maisarah,4,2,2,5.0,1499.3,-1,-1,4.9,4.8
14,Alif,6,3,3,5.0,1495.3,-4,-5,4.9,4.9
15,Zulhakim,6,3,3,4.9,1493.7,-6,-6,4.9,5.5
16,Faiz,6,2,4,4.7,1470.6,-29,-29,5.2,4.9
17,Basit,4,1,3,4.7,1468.0,-32,-32,5.5,4.7
18,Imran,6,2,4,4.6,1462.4,-38,-38,4.9,4.5
19,Dina,5,1,4,4.6,1458.7,-41,-41,4.8,3.7
20,Suhailah,5,1,4,4.5,1449.5,-51,-51,5.0,3.9
21,Lisa,18,8,10,4.5,1446.6,-47,-53,5.1,5.2
22,Shazwan,13,6,7,4.4,1443.1,-88,-57,5.0,5.3
23,Nadia,20,8,12,4.3,1428.8,-54,-71,4.9,4.9
24,Mirza,22,7,15,4.1,1409.0,31,-91,5.2,5.0
25,Luqman,10,1,9,3.7,1368.0,-41,-132,5.0,4.7
26,Hasanah,10,1,9,3.5,1352.8,-67,-147,5.1,4.8
27,Yassier,21,7,14,3.5,1350.7,-123,-149,5.0,5.2

File exists! Uploading...
Updated ./elo-scores/2024-11-07_elo_scores.csv in badgerminton/badgerminton-data!

In [45]:
print(player_dict)

{'Isha': {'name': 'Isha', 'played': 23, 'wins': 17, 'losses': 6, 'rating': 1682.0070382711533, 'opponent_value': 1502.7980369485754, 'opponent_value_sum': 34564.35484981723, 'partner_value': 1496.35559192928, 'partner_value_sum': 34416.17861437344, 'rating_history': [{'rating': 1548.964402078087, 'event': '2024-10-10', 'opponent_value': 1508.8723371079097, 'patner_value': 1513.1716545866395}, {'rating': 1555.43981906345, 'event': '2024-10-17', 'opponent_value': 1497.4615672617342, 'patner_value': 1527.9728077362806}, {'rating': 1644.8323508393344, 'event': '2024-10-31', 'opponent_value': 1500.518791852559, 'patner_value': 1498.1127581209191}, {'rating': 1682.0070382711533, 'event': '2024-11-07', 'opponent_value': 1502.7980369485754, 'patner_value': 1496.35559192928}]}, 'Mirza': {'name': 'Mirza', 'played': 22, 'wins': 7, 'losses': 15, 'rating': 1409.0223761346836, 'opponent_value': 1516.3417987115688, 'opponent_value_sum': 33359.51957165451, 'partner_value': 1495.2495700364618, 'partner_value_sum': 32895.49054080216, 'rating_history': [{'rating': 1419.3680753802594, 'event': '2024-10-10', 'opponent_value': 1503.4516037277167, 'patner_value': 1466.7178380652003}, {'rating': 1368.8264009740622, 'event': '2024-10-17', 'opponent_value': 1499.1402366002505, 'patner_value': 1469.3765132528554}, {'rating': 1377.9840645687989, 'event': '2024-10-31', 'opponent_value': 1507.78639315543, 'patner_value': 1481.0698449091124}, {'rating': 1409.0223761346836, 'event': '2024-11-07', 'opponent_value': 1516.3417987115688, 'patner_value': 1495.2495700364618}]}, 'Afiqah': {'name': 'Afiqah', 'played': 20, 'wins': 16, 'losses': 4, 'rating': 1693.3728867758903, 'opponent_value': 1498.2680544296777, 'opponent_value_sum': 29965.361088593556, 'partner_value': 1538.7422023204813, 'partner_value_sum': 30774.844046409627, 'rating_history': [{'rating': 1537.340230297252, 'event': '2024-10-10', 'opponent_value': 1485.0786320973489, 'patner_value': 1520.0102894598567}, {'rating': 1619.0108690534823, 'event': '2024-10-17', 'opponent_value': 1504.9933125468285, 'patner_value': 1516.8715113613955}, {'rating': 1633.1075748860776, 'event': '2024-10-31', 'opponent_value': 1496.483578090617, 'patner_value': 1528.0261763196904}, {'rating': 1693.3728867758903, 'event': '2024-11-07', 'opponent_value': 1498.2680544296777, 'patner_value': 1538.7422023204813}]}, 'Alif': {'name': 'Alif', 'played': 6, 'wins': 3, 'losses': 3, 'rating': 1495.2884274447715, 'opponent_value': 1490.3635060884906, 'opponent_value_sum': 8942.181036530943, 'partner_value': 1486.4942377532725, 'partner_value_sum': 8918.965426519635, 'rating_history': [{'rating': 1499.314958987164, 'event': '2024-10-10', 'opponent_value': 1492.2802061291961, 'patner_value': 1481.873081005374}, {'rating': 1495.2884274447715, 'event': '2024-11-07', 'opponent_value': 1490.3635060884906, 'patner_value': 1486.4942377532725}]}, 'Khairul': {'name': 'Khairul', 'played': 21, 'wins': 14, 'losses': 7, 'rating': 1605.4164969385356, 'opponent_value': 1493.8364225228374, 'opponent_value_sum': 31370.564872979587, 'partner_value': 1525.1781226991284, 'partner_value_sum': 32028.740576681696, 'rating_history': [{'rating': 1538.0984249973912, 'event': '2024-10-10', 'opponent_value': 1490.0238793973886, 'patner_value': 1532.3747775542965}, {'rating': 1539.6397038966074, 'event': '2024-10-17', 'opponent_value': 1494.3395386367088, 'patner_value': 1545.7826753622862}, {'rating': 1540.4167856111835, 'event': '2024-10-31', 'opponent_value': 1492.6752417762816, 'patner_value': 1527.6713257807671}, {'rating': 1605.4164969385356, 'event': '2024-11-07', 'opponent_value': 1493.8364225228374, 'patner_value': 1525.1781226991284}]}, 'Shazwan': {'name': 'Shazwan', 'played': 13, 'wins': 6, 'losses': 7, 'rating': 1443.0907744707056, 'opponent_value': 1502.5876228767438, 'opponent_value_sum': 19533.63909739767, 'partner_value': 1533.038643546124, 'partner_value_sum': 19929.502366099612, 'rating_history': [{'rating': 1529.1468651107161, 'event': '2024-10-10', 'opponent_value': 1507.6174200149173, 'patner_value': 1527.0426549495821}, {'rating': 1530.6881440099323, 'event': '2024-10-17', 'opponent_value': 1502.1588900222773, 'patner_value': 1548.385931919455}, {'rating': 1443.0907744707056, 'event': '2024-11-07', 'opponent_value': 1502.5876228767438, 'patner_value': 1533.038643546124}]}, 'Yassier': {'name': 'Yassier', 'played': 21, 'wins': 7, 'losses': 14, 'rating': 1350.7116589231234, 'opponent_value': 1502.589970603638, 'opponent_value_sum': 31554.3893826764, 'partner_value': 1522.6771868701246, 'partner_value_sum': 31976.220924272617, 'rating_history': [{'rating': 1518.468014373157, 'event': '2024-10-10', 'opponent_value': 1499.0164606124692, 'patner_value': 1478.3011079223245}, {'rating': 1512.8866816561203, 'event': '2024-10-17', 'opponent_value': 1486.5816070126498, 'patner_value': 1500.1189446076164}, {'rating': 1473.2189685980134, 'event': '2024-10-31', 'opponent_value': 1470.884206238363, 'patner_value': 1502.6855689294148}, {'rating': 1350.7116589231234, 'event': '2024-11-07', 'opponent_value': 1502.589970603638, 'patner_value': 1522.6771868701246}]}, 'Mujahid': {'name': 'Mujahid', 'played': 21, 'wins': 10, 'losses': 11, 'rating': 1512.4324137841397, 'opponent_value': 1501.1972770328166, 'opponent_value_sum': 31525.14281768915, 'partner_value': 1488.2478742060582, 'partner_value_sum': 31253.20535832722, 'rating_history': [{'rating': 1443.2078583824903, 'event': '2024-10-10', 'opponent_value': 1493.085433693234, 'patner_value': 1476.492496905178}, {'rating': 1417.2008667089667, 'event': '2024-10-17', 'opponent_value': 1492.4200950243521, 'patner_value': 1489.5706161831833}, {'rating': 1430.881647116762, 'event': '2024-10-31', 'opponent_value': 1496.8517604398417, 'patner_value': 1489.3286059690722}, {'rating': 1512.4324137841397, 'event': '2024-11-07', 'opponent_value': 1501.1972770328166, 'patner_value': 1488.2478742060582}]}, 'Kamil': {'name': 'Kamil', 'played': 4, 'wins': 3, 'losses': 1, 'rating': 1548.964402078087, 'opponent_value': 1508.8723371079097, 'opponent_value_sum': 6035.489348431639, 'partner_value': 1513.1716545866395, 'partner_value_sum': 6052.686618346558, 'rating_history': [{'rating': 1548.964402078087, 'event': '2024-10-10', 'opponent_value': 1508.8723371079097, 'patner_value': 1513.1716545866395}]}, 'Hasanah': {'name': 'Hasanah', 'played': 10, 'wins': 1, 'losses': 9, 'rating': 1352.7591398479003, 'opponent_value': 1513.9997204364042, 'opponent_value_sum': 15139.997204364043, 'partner_value': 1483.4370952376435, 'partner_value_sum': 14834.370952376436, 'rating_history': [{'rating': 1419.3680753802594, 'event': '2024-10-10', 'opponent_value': 1503.4516037277167, 'patner_value': 1466.7178380652003}, {'rating': 1352.7591398479003, 'event': '2024-10-31', 'opponent_value': 1513.9997204364042, 'patner_value': 1483.4370952376435}]}, 'Rafiq': {'name': 'Rafiq', 'played': 4, 'wins': 3, 'losses': 1, 'rating': 1537.340230297252, 'opponent_value': 1485.0786320973489, 'opponent_value_sum': 5940.3145283893955, 'partner_value': 1520.0102894598567, 'partner_value_sum': 6080.041157839427, 'rating_history': [{'rating': 1537.340230297252, 'event': '2024-10-10', 'opponent_value': 1485.0786320973489, 'patner_value': 1520.0102894598567}]}, 'Maisarah': {'name': 'Maisarah', 'played': 4, 'wins': 2, 'losses': 2, 'rating': 1499.314958987164, 'opponent_value': 1492.2802061291961, 'opponent_value_sum': 5969.1208245167845, 'partner_value': 1481.873081005374, 'partner_value_sum': 5927.492324021496, 'rating_history': [{'rating': 1499.314958987164, 'event': '2024-10-10', 'opponent_value': 1492.2802061291961, 'patner_value': 1481.873081005374}]}, 'Suraya': {'name': 'Suraya', 'played': 12, 'wins': 7, 'losses': 5, 'rating': 1522.1528457363102, 'opponent_value': 1497.1198816724636, 'opponent_value_sum': 17965.438580069564, 'partner_value': 1555.1334736381652, 'partner_value_sum': 18661.601683657984, 'rating_history': [{'rating': 1538.0984249973912, 'event': '2024-10-10', 'opponent_value': 1490.0238793973886, 'patner_value': 1532.3747775542965}, {'rating': 1491.5799555321469, 'event': '2024-10-31', 'opponent_value': 1500.2361568885792, 'patner_value': 1550.157900071576}, {'rating': 1522.1528457363102, 'event': '2024-11-07', 'opponent_value': 1497.1198816724636, 'patner_value': 1555.1334736381652}]}, 'Hazwan': {'name': 'Hazwan', 'played': 14, 'wins': 10, 'losses': 4, 'rating': 1601.6749354332571, 'opponent_value': 1514.4749591986165, 'opponent_value_sum': 21202.64942878063, 'partner_value': 1538.5190456196249, 'partner_value_sum': 21539.266638674748, 'rating_history': [{'rating': 1529.1468651107161, 'event': '2024-10-10', 'opponent_value': 1507.6174200149173, 'patner_value': 1527.0426549495821}, {'rating': 1535.622282096079, 'event': '2024-10-17', 'opponent_value': 1496.9038263315153, 'patner_value': 1545.1474395461275}, {'rating': 1601.6749354332571, 'event': '2024-11-07', 'opponent_value': 1514.4749591986165, 'patner_value': 1538.5190456196249}]}, 'Nadia': {'name': 'Nadia', 'played': 20, 'wins': 8, 'losses': 12, 'rating': 1428.7581936141823, 'opponent_value': 1492.8004580696002, 'opponent_value_sum': 29856.009161392005, 'partner_value': 1494.4448926575835, 'partner_value_sum': 29888.89785315167, 'rating_history': [{'rating': 1484.55918476664, 'event': '2024-10-10', 'opponent_value': 1526.4579298606789, 'patner_value': 1476.6397300443894}, {'rating': 1518.337159705564, 'event': '2024-10-17', 'opponent_value': 1520.8873421317371, 'patner_value': 1484.3508084626342}, {'rating': 1482.3959096703597, 'event': '2024-10-31', 'opponent_value': 1489.5282292445588, 'patner_value': 1480.2639860142735}, {'rating': 1428.7581936141823, 'event': '2024-11-07', 'opponent_value': 1492.8004580696002, 'patner_value': 1494.4448926575835}]}, 'Luqman': {'name': 'Luqman', 'played': 10, 'wins': 1, 'losses': 9, 'rating': 1367.9637179929973, 'opponent_value': 1495.587930972262, 'opponent_value_sum': 14955.87930972262, 'partner_value': 1472.99641566427, 'partner_value_sum': 14729.9641566427, 'rating_history': [{'rating': 1409.2990287759733, 'event': '2024-10-10', 'opponent_value': 1509.55031524216, 'patner_value': 1482.2774360997203}, {'rating': 1367.9637179929973, 'event': '2024-10-17', 'opponent_value': 1495.587930972262, 'patner_value': 1472.99641566427}]}, 'Rushdi': {'name': 'Rushdi', 'played': 20, 'wins': 10, 'losses': 10, 'rating': 1530.2956687455471, 'opponent_value': 1534.9567737436712, 'opponent_value_sum': 30699.135474873423, 'partner_value': 1496.0231593400283, 'partner_value_sum': 29920.463186800567, 'rating_history': [{'rating': 1533.777974938924, 'event': '2024-10-17', 'opponent_value': 1517.5449894943722, 'patner_value': 1473.5366402802215}, {'rating': 1550.9936961920125, 'event': '2024-10-31', 'opponent_value': 1515.2758969162612, 'patner_value': 1491.3458665616292}, {'rating': 1530.2956687455471, 'event': '2024-11-07', 'opponent_value': 1534.9567737436712, 'patner_value': 1496.0231593400283}]}, 'Lisa': {'name': 'Lisa', 'played': 18, 'wins': 8, 'losses': 10, 'rating': 1446.6422641641038, 'opponent_value': 1506.5295783646422, 'opponent_value_sum': 27117.53241056356, 'partner_value': 1522.6195315071254, 'partner_value_sum': 27407.151567128258, 'rating_history': [{'rating': 1473.9930083264762, 'event': '2024-10-17', 'opponent_value': 1491.7547563554704, 'patner_value': 1445.856593843679}, {'rating': 1493.7247936516496, 'event': '2024-10-31', 'opponent_value': 1499.4647106047041, 'patner_value': 1512.5818937479478}, {'rating': 1446.6422641641038, 'event': '2024-11-07', 'opponent_value': 1506.5295783646422, 'patner_value': 1522.6195315071254}]}, 'Zulhakim': {'name': 'Zulhakim', 'played': 6, 'wins': 3, 'losses': 3, 'rating': 1493.654641385165, 'opponent_value': 1492.8187398759276, 'opponent_value_sum': 8956.912439255566, 'partner_value': 1545.3866581399352, 'partner_value_sum': 9272.319948839611, 'rating_history': [{'rating': 1493.654641385165, 'event': '2024-10-17', 'opponent_value': 1492.8187398759276, 'patner_value': 1545.3866581399352}]}, 'Dina': {'name': 'Dina', 'played': 5, 'wins': 1, 'losses': 4, 'rating': 1458.664689217024, 'opponent_value': 1481.6255467023645, 'opponent_value_sum': 7408.127733511823, 'partner_value': 1373.0144240047932, 'partner_value_sum': 6865.072120023966, 'rating_history': [{'rating': 1458.664689217024, 'event': '2024-10-17', 'opponent_value': 1481.6255467023645, 'patner_value': 1373.0144240047932}]}, 'Ammar': {'name': 'Ammar', 'played': 10, 'wins': 7, 'losses': 3, 'rating': 1579.9809861907631, 'opponent_value': 1514.4767252293161, 'opponent_value_sum': 15144.76725229316, 'partner_value': 1527.772400046431, 'partner_value_sum': 15277.72400046431, 'rating_history': [{'rating': 1582.4346646540287, 'event': '2024-10-17', 'opponent_value': 1515.4320062686165, 'patner_value': 1545.0196021711458}, {'rating': 1579.9809861907631, 'event': '2024-11-07', 'opponent_value': 1514.4767252293161, 'patner_value': 1527.772400046431}]}, 'Suhailah': {'name': 'Suhailah', 'played': 5, 'wins': 1, 'losses': 4, 'rating': 1449.458325593803, 'opponent_value': 1495.6911428982778, 'opponent_value_sum': 7478.455714491389, 'partner_value': 1390.8715287832385, 'partner_value_sum': 6954.3576439161925, 'rating_history': [{'rating': 1449.458325593803, 'event': '2024-10-17', 'opponent_value': 1495.6911428982778, 'patner_value': 1390.8715287832385}]}, 'Suhayl': {'name': 'Suhayl', 'played': 4, 'wins': 2, 'losses': 2, 'rating': 1501.8441417511933, 'opponent_value': 1520.0886173807835, 'opponent_value_sum': 6080.354469523134, 'partner_value': 1524.1079440924082, 'partner_value_sum': 6096.431776369633, 'rating_history': [{'rating': 1501.8441417511933, 'event': '2024-10-31', 'opponent_value': 1520.0886173807835, 'patner_value': 1524.1079440924082}]}, 'Faiz': {'name': 'Faiz', 'played': 6, 'wins': 2, 'losses': 4, 'rating': 1470.5777058814376, 'opponent_value': 1519.1145480400573, 'opponent_value_sum': 9114.687288240344, 'partner_value': 1493.2362628528626, 'partner_value_sum': 8959.417577117176, 'rating_history': [{'rating': 1470.5777058814376, 'event': '2024-10-31', 'opponent_value': 1519.1145480400573, 'patner_value': 1493.2362628528626}]}, 'Aidi': {'name': 'Aidi', 'played': 11, 'wins': 8, 'losses': 3, 'rating': 1588.2314778879788, 'opponent_value': 1510.4007192795348, 'opponent_value_sum': 16614.407912074883, 'partner_value': 1493.836296702648, 'partner_value_sum': 16432.19926372913, 'rating_history': [{'rating': 1621.8826481016033, 'event': '2024-10-31', 'opponent_value': 1487.178466723595, 'patner_value': 1480.3843123710749}, {'rating': 1588.2314778879788, 'event': '2024-11-07', 'opponent_value': 1510.4007192795348, 'patner_value': 1493.836296702648}]}, 'Basit': {'name': 'Basit', 'played': 4, 'wins': 1, 'losses': 3, 'rating': 1468.0295332751818, 'opponent_value': 1549.627745176596, 'opponent_value_sum': 6198.510980706384, 'partner_value': 1465.0296885007835, 'partner_value_sum': 5860.118754003134, 'rating_history': [{'rating': 1468.0295332751818, 'event': '2024-10-31', 'opponent_value': 1549.627745176596, 'patner_value': 1465.0296885007835}]}, 'Imran': {'name': 'Imran', 'played': 6, 'wins': 2, 'losses': 4, 'rating': 1462.3500691776492, 'opponent_value': 1494.7556190951564, 'opponent_value_sum': 8968.533714570938, 'partner_value': 1451.4585694202199, 'partner_value_sum': 8708.75141652132, 'rating_history': [{'rating': 1462.3500691776492, 'event': '2024-10-31', 'opponent_value': 1494.7556190951564, 'patner_value': 1451.4585694202199}]}}