In [5]:
import os
from typing import Literal, TypedDict

import gspread
import pandas as pd
from dotenv import load_dotenv

from helpers import upload_to_github

load_dotenv()

CREDENTIALS_INFO = {
    "type": "service_account",
    "project_id": os.getenv("PROJECT_ID"),
    "private_key_id": os.getenv("PRIVATE_KEY_ID"),
    "private_key": os.getenv("PRIVATE_KEY"),
    "client_email": os.getenv("CLIENT_EMAIL"),
    "client_id": os.getenv("CLIENT_ID"),
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": os.getenv("CLIENT_x509_CERT_URL"),
    "universe_domain": "googleapis.com",
}

SHEET_URL = os.getenv("SHEET_URL", "")


class WorksheetRangePairing(TypedDict):
    worksheet_id: str
    range_name: str
    date: str  # in yyyy-mm-dd format
    clean_script_version: Literal["group_based", "ffa"]


WORKSHEET_RANGE_PAIRING: list[WorksheetRangePairing] = [
    {
        "worksheet_id": "1059373094",
        "range_name": "A10:D42",
        "date": "2024-10-10",
        "clean_script_version": "group_based",
    },
    {
        "worksheet_id": "2144589541",
        "range_name": "A10:D50",
        "date": "2024-10-17",
        "clean_script_version": "group_based",
    },
    {
        "worksheet_id": "443320611",
        "range_name": "A5:D53",
        "date": "2024-10-31",
        "clean_script_version": "ffa",
    },
    {
        "worksheet_id": "1717508104",
        "range_name": "A5:D45",
        "date": "2024-11-07",
        "clean_script_version": "ffa",
    },
    {
        "worksheet_id": "2019248424",
        "range_name": "A5:D63",
        "date": "2024-11-14",
        "clean_script_version": "ffa",
    },
    {
        "worksheet_id": "1979486117",
        "range_name": "A5:D39",
        "date": "2024-11-21",
        "clean_script_version": "ffa",
    },
    {
        "worksheet_id": "1529201747",
        "range_name": "A5:D57",
        "date": "2024-11-28",
        "clean_script_version": "ffa",
    },
    {
        "worksheet_id": "948123286",
        "range_name": "A5:D49",
        "date": "2024-12-05",
        "clean_script_version": "ffa",
    },
    {
        "worksheet_id": "1638262922",
        "range_name": "A5:D41",
        "date": "2024-12-12",
        "clean_script_version": "ffa",
    },
    {
        "worksheet_id": "1440311102",
        "range_name": "A5:D41",
        "date": "2025-01-02",
        "clean_script_version": "ffa",
    },
    {
        "worksheet_id": "421923177",
        "range_name": "A5:D33",
        "date": "2025-01-09",
        "clean_script_version": "ffa",
    },
    {
        "worksheet_id": "180922140",
        "range_name": "A5:D41",
        "date": "2025-01-16",
        "clean_script_version": "ffa",
    },
    {
        "worksheet_id": "2084155020",
        "range_name": "A5:D43",
        "date": "2025-01-23",
        "clean_script_version": "ffa",
    },
]


def read_public_google_sheet_to_dataframe(
    sheet_url: str, worksheet_id: str, range_name: str
) -> pd.DataFrame:
    """
    Reads data from a public Google Sheet into a pandas DataFrame.

    Args:
        sheet_url (str): The URL of the public Google Sheet.
        range_name (str): The range to read, e.g., 'Sheet1!A1:C10'.

    Returns:
        pd.DataFrame: Data from the specified range in the Google Sheet as a DataFrame.
    """

    client = gspread.service_account_from_dict(info=CREDENTIALS_INFO)
    sheet = client.open_by_url(sheet_url)

    # Get the worksheet data
    worksheet = sheet.get_worksheet_by_id(
        worksheet_id
    )  # Access the first sheet or specify by name

    data = worksheet.get(range_name)

    # Convert the data into a DataFrame
    df = pd.DataFrame(data[1:], columns=data[0])  # Assuming the first row is header

    return df


def clean_data_group_based(df: pd.DataFrame) -> pd.DataFrame:
    _df = df.copy()

    # Step 1: Forward fill 'Match No.' to group teams by each match
    _df["Match No."] = _df["Match No."].ffill()

    # Step 2: Split Players column into separate player names
    _df[["Player_1", "Player_2"]] = _df["Players"].str.split(" & ", expand=True)

    # Step 3: Split the data into Team A and Team B based on even-odd index within each match
    df_a = _df.iloc[::2].copy().reset_index(drop=True)
    df_b = _df.iloc[1::2].copy().reset_index(drop=True)

    # Step 4: Rename columns in df_a and df_b for merging
    df_a = df_a.rename(
        columns={"Player_1": "player_a_1", "Player_2": "player_a_2", "Score": "score_a"}
    ).drop(columns=["Players", "Team"])
    df_b = df_b.rename(
        columns={"Player_1": "player_b_1", "Player_2": "player_b_2", "Score": "score_b"}
    ).drop(columns=["Players", "Team", "Match No."])

    # Step 5: Combine df_a and df_b side by side to get the final format
    df_final = pd.concat([df_a, df_b], axis=1)
    df_final = df_final[
        ["player_a_1", "player_a_2", "player_b_1", "player_b_2", "score_a", "score_b"]
    ]
    return df_final


def clean_data_ffa(df: pd.DataFrame) -> pd.DataFrame:
    # Step 1: Forward fill 'Match No.' to group each match's teams together
    df["Match No."] = df["Match No."].ffill()

    # Step 2: Split the data into Team A and Team B based on even-odd index within each match
    df_a = df.iloc[::2].reset_index(drop=True)  # Team A (even rows)
    df_b = df.iloc[1::2].reset_index(drop=True)  # Team B (odd rows)

    # Step 3: Rename columns for Team A and Team B
    df_a = df_a.rename(
        columns={"Player 1": "player_a_1", "Player 2": "player_a_2", "Score": "score_a"}
    )
    df_b = df_b.rename(
        columns={"Player 1": "player_b_1", "Player 2": "player_b_2", "Score": "score_b"}
    )

    # Step 4: Drop unnecessary columns in df_b and merge the dataframes side-by-side
    df_b = df_b.drop(columns=["Match No."])
    df_final = pd.concat([df_a, df_b], axis=1)
    df_final = df_final[
        ["player_a_1", "player_a_2", "player_b_1", "player_b_2", "score_a", "score_b"]
    ]

    return df_final


for item in WORKSHEET_RANGE_PAIRING:
    df = read_public_google_sheet_to_dataframe(
        SHEET_URL, worksheet_id=item["worksheet_id"], range_name=item["range_name"]
    )
    if item["clean_script_version"] == "group_based":
        clean_df = clean_data_group_based(df)
    else:
        clean_df = clean_data_ffa(df)

    file_path = f"matches/{item['date']}_match_results.csv"

    clean_df.to_csv(f"./{file_path}", index=False)

    upload_to_github(
        f"./{file_path}", commit_message=f"Upload matches data for {item['date']}"
    )

    display(
        pd.read_csv(
            f"https://raw.githubusercontent.com/BadgerMinton/badgerminton-data/refs/heads/main/{file_path}"
        )
    )

File exists! Uploading...
Updated ./matches/2024-10-10_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0        Isha      Kamil    Mujahid     Luqman       21       12
1       Mirza    Hasanah    Khairul     Suraya        8       21
2      Afiqah      Rafiq     Luqman      Nadia       21       13
3        Alif   Maisarah    Shazwan     Hazwan       16       21
4     Khairul     Suraya       Isha      Kamil       21       18
5       Mirza    Hasanah    Mujahid    Yassier       18       21
6     Shazwan     Hazwan     Luqman      Nadia       21       18
7        Alif   Maisarah     Afiqah      Rafiq       17       21
8        Isha      Kamil      Mirza    Hasanah       21       11
9        Alif   Maisarah    Yassier    Mujahid       21       18
10    Khairul     Suraya    Mujahid     Luqman       21       15
11     Afiqah      Rafiq    Shazwan     Hazwan       22       24
12     Afiqah      Rafiq      Mirza    Hasanah       21       13
13    Yassier      Nadia    Khairul     Suraya       21       19
14       Isha      Kamil    Shazwan     Hazwan       21       13
15    Mujahid     Luqman       Alif   Maisarah       24       26

File exists! Uploading...
Updated ./matches/2024-10-17_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0     Mujahid       Lisa      Mirza   Suhailah       21       13
1      Afiqah   Zulhakim    Khairul    Shazwan       13       21
2        Isha     Hazwan     Rushdi      Nadia       21       15
3      Luqman       Dina     Afiqah      Ammar       13       21
4     Khairul    Shazwan    Mujahid       Lisa       21       15
5      Afiqah   Zulhakim      Mirza   Suhailah       21       17
6     Yassier      Ammar     Rushdi      Nadia       21       17
7      Luqman       Dina       Isha     Hazwan        9       21
8     Mujahid       Lisa    Yassier   Zulhakim       10       21
9      Luqman       Dina     Rushdi      Nadia       13       21
10    Khairul    Shazwan      Mirza   Suhailah       21       11
11       Isha     Hazwan     Afiqah      Ammar       14       21
12       Isha     Hazwan     Afiqah   Zulhakim       14       21
13     Rushdi      Nadia    Khairul    Shazwan       21       15
14    Mujahid       Lisa    Yassier   Zulhakim       21       19
15      Mirza   Suhailah     Luqman       Dina       22       20
16       Isha     Hazwan      Mirza   Suhailah       21       11
17     Rushdi      Nadia    Yassier   Zulhakim       21       15
18    Mujahid       Lisa     Luqman       Dina       10       21
19    Khairul    Shazwan     Afiqah      Ammar        9       21

File exists! Uploading...
Updated ./matches/2024-10-31_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0       Mirza    Hasanah     Rushdi     Afiqah       12       21
1      Suraya       Faiz    Mujahid       Isha       18       21
2     Khairul      Nadia       Lisa      Imran       21       12
3       Mirza       Isha    Yassier     Rushdi       21       16
4     Hasanah       Aidi     Afiqah     Suraya       21       18
5     Mujahid       Faiz    Khairul       Lisa       21       18
6     Yassier      Nadia      Mirza      Imran       18       21
7      Suhayl      Basit       Isha     Suraya       19       21
8        Faiz    Khairul     Afiqah     Rushdi       18       21
9        Aidi       Lisa    Hasanah      Imran       21       12
10      Mirza    Mujahid    Yassier      Nadia       20       22
11     Afiqah    Khairul      Basit     Suhayl       19       21
12    Hasanah       Isha       Lisa     Rushdi       18       21
13       Aidi    Yassier       Faiz      Imran       21       12
14    Khairul    Mujahid      Nadia      Mirza       21       15
15       Lisa     Rushdi     Afiqah       Isha       16       21
16    Yassier    Hasanah      Imran       Aidi        9       21
17       Lisa       Isha     Suhayl      Basit       21       11
18    Khairul       Faiz    Mujahid      Nadia       21       16
19     Rushdi     Suraya     Afiqah       Aidi       13       21
20       Isha       Lisa    Mujahid       Faiz       21       19
21    Yassier      Nadia    Hasanah      Imran       21       14
22      Mirza      Basit       Aidi     Suhayl        9       21
23    Yassier      Nadia     Rushdi      Mirza       13       21

File exists! Uploading...
Updated ./matches/2024-11-07_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0     Khairul       Isha      Mirza      Ammar       21       19
1     Mujahid    Yassier       Aidi     Afiqah       14       21
2       Mirza       Isha     Rushdi      Ammar       21       12
3        Lisa     Hazwan      Nadia    Khairul       21       18
4     Mujahid     Rushdi    Yassier      Ammar       21       13
5      Afiqah     Hazwan       Aidi       Lisa       21       12
6       Mirza    Khairul      Nadia       Isha       22       20
7     Yassier       Aidi     Rushdi     Hazwan        8       21
8      Rushdi    Yassier     Afiqah       Isha       15       21
9        Lisa    Shazwan      Ammar    Mujahid        8       21
10     Suraya      Mirza      Nadia       Aidi       16       21
11    Khairul     Hazwan     Rushdi    Shazwan       21       12
12    Khairul      Ammar    Yassier      Nadia       21       12
13       Lisa     Rushdi     Suraya       Isha       17       21
14     Hazwan    Yassier     Afiqah     Suraya       14       21
15    Shazwan       Alif      Mirza    Mujahid       13       21
16       Isha      Ammar     Rushdi       Aidi       21       15
17       Lisa    Khairul    Shazwan      Nadia       21       19
18     Suraya    Mujahid       Lisa      Mirza       21       18
19       Isha    Yassier     Rushdi       Alif       17       21

File exists! Uploading...
Updated ./matches/2024-11-14_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0      Rushdi     Hazwan     Luqman       Lisa       21        7
1       Mirza    Shazwan    Mujahid       Alif       21       13
2      Rushdi       Lisa      Haziq       Lina       21       17
3     Yassier      Nadia   Zulhakim   Suhailah       21       15
4       Imran     Afiqah     Luqman      Ammar       21       19
5     Shazwan      Nadia    Mujahid     Hazwan       20       22
6      Rushdi       Alif   Suhailah      Haziq       21       15
7       Mirza    Yassier   Zulhakim       Faiz       21       14
8       Ammar       Lina       Lisa    Shazwan       21       12
9     Yassier      Nadia     Afiqah     Hazwan       18       21
10      Imran      Ammar     Luqman      Mirza       21       11
11       Lina      Haziq       Faiz   Suhailah       21       10
12   Maisarah      Nadia    Mujahid      Rafiq       21       19
13     Rushdi       Lisa     Hazwan    Shazwan       18       21
14      Mirza      Ammar    Yassier       Alif       21        7
15     Afiqah   Zulhakim       Lina      Haziq       17       21
16      Rafiq   Maisarah    Yassier       Alif       14       21
17       Faiz   Suhailah     Luqman      Imran       19       21
18     Afiqah    Yassier      Ammar       Alif       13       21
19    Mujahid    Shazwan       Lina      Haziq       18       21
20      Nadia     Rushdi      Mirza     Hazwan       21       15
21      Nadia     Hazwan      Mirza     Rushdi        8       21
22      Imran       Lisa     Luqman      Rafiq        8       21
23    Yassier      Haziq     Afiqah      Ammar       18       21
24       Lina      Mirza       Faiz       Alif       21       13
25   Maisarah      Imran     Rushdi    Mujahid       13       21
26    Shazwan      Rafiq       Faiz    Yassier       21       18
27     Luqman       Lina     Hazwan      Nadia       17       21
28       Lisa      Mirza      Haziq     Afiqah       14       21

File exists! Uploading...
Updated ./matches/2024-11-21_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0     Khairul    Hasanah     Luqman     Afiqah       19       21
1     Yassier      Nadia      Ammar      Mirza       14       21
2     Yassier     Afiqah    Khairul    Mujahid       21       11
3        Isha    Hasanah     Suhayl     Suraya       15       21
4        Isha     Suhayl    Yassier     Luqman       21       16
5      Suraya      Nadia       Lisa      Mirza       21       23
6     Khairul    Mujahid    Hasanah     Suhayl       21       17
7       Mirza     Afiqah     Luqman      Ammar       21       13
8      Suraya     Afiqah    Khairul       Lisa       21        8
9       Nadia       Isha    Yassier      Ammar       21       19
10    Khairul     Suhayl      Mirza       Lisa       21       10
11    Mujahid    Hasanah     Suraya     Luqman       19       21
12     Afiqah       Isha      Ammar     Suhayl       21       17
13       Lisa    Khairul    Yassier      Nadia       21       16
14      Mirza     Suraya    Hasanah     Luqman       21       11
15     Suhayl       Isha      Ammar    Yassier       21       12
16    Mujahid      Mirza       Lisa    Khairul       21       14

File exists! Uploading...
Updated ./matches/2024-11-28_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0     Khairul    Shazwan     Luqman     Hazwan       20       22
1        Lisa      Mirza     Rushdi      Nadia       22       20
2     Yassier       Alya      Ammar      Sarah       13       21
3       Haziq       Lina    Yassier      Nadia       21       11
4      Hazwan    Khairul     Afiqah    Shazwan       16       21
5       Ammar      Sarah     Luqman       Alya       21       12
6     Khairul       Lisa      Mirza     Afiqah       21       19
7       Sarah       Lina      Ammar       Alya       13       21
8     Shazwan     Hazwan     Rushdi     Luqman       21       16
9      Afiqah      Haziq     Rushdi    Yassier       17       21
10      Sarah     Hazwan      Ammar      Mirza       21       19
11     Luqman       Lina       Alya      Nadia       21       16
12    Khairul      Haziq    Shazwan       Lisa       21        7
13     Afiqah     Rushdi      Mirza       Lina       21       13
14      Ammar      Nadia      Sarah       Alya       21       16
15    Khairul     Luqman    Yassier     Hazwan       21       10
16       Lisa     Rushdi      Haziq       Lina       22       20
17      Sarah     Afiqah     Hazwan      Nadia       21       17
18      Haziq       Lina     Luqman    Khairul       21       19
19     Rushdi     Hazwan    Yassier       Lisa       21       18
20      Ammar     Afiqah       Alya      Sarah       21       13
21      Mirza      Nadia     Luqman    Shazwan       22       20
22      Haziq       Lina    Yassier    Khairul       21       12
23     Afiqah      Ammar     Luqman      Mirza       21       13
24       Lina      Haziq       Alya      Sarah       21       14
25     Rushdi      Nadia    Yassier    Shazwan       21       19

File exists! Uploading...
Updated ./matches/2024-12-05_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0     Hasanah     Afiqah       Alif     Hazwan       14       21
1     Shazwan    Yassier    Khairul      Nadia       21       18
2       Ammar     Luqman      Mirza    Mujahid       27       25
3     Hasanah     Hazwan       Lisa     Afiqah       20       22
4       Nadia    Yassier       Alif      Ammar       10       21
5        Isha     Suraya    Khairul     Luqman       21       17
6        Lisa      Mirza    Mujahid     Hazwan        8       21
7      Suraya       Isha    Yassier     Suhayl       21       19
8        Lisa    Khairul      Ammar     Afiqah        9       21
9       Nadia       Alif     Hazwan     Suhayl       16       21
10     Luqman      Mirza    Mujahid       Isha       14       21
11     Afiqah    Yassier     Suraya      Ammar       18       21
12    Hasanah       Alif    Khairul      Nadia       11       21
13     Luqman    Shazwan    Yassier     Suraya       14       21
14    Mujahid       Isha     Hazwan     Suhayl       17       21
15    Hasanah      Ammar       Alif     Afiqah       14       21
16    Mujahid    Yassier     Hazwan      Nadia       21       18
17      Mirza    Khairul    Hasanah       Lisa       21        5
18       Alif      Ammar     Afiqah     Luqman       21       15
19      Mirza    Khairul     Hazwan      Nadia       21       15
20       Lisa    Yassier    Shazwan    Mujahid       13       21
21      Mirza      Ammar       Isha     Luqman       21       18

File exists! Uploading...
Updated ./matches/2024-12-12_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0      Hazwan       Alif      Mirza      Ammar       21       16
1       Haziq       Lina     Rushdi    Shazwan       11       21
2     Mujahid    Hidayat     Afiqah      Zarif       10       21
3     Yassier    Shazwan     Rushdi      Nadia       21       19
4       Haziq       Lina     Afiqah      Zarif       15       21
5        Alif      Ammar      Mirza     Hazwan       29       27
6     Shazwan    Hidayat      Nadia    Mujahid       16       21
7      Afiqah      Zarif    Yassier     Rushdi       21        7
8        Alif     Hazwan       Lina      Haziq        9       21
9     Hidayat      Nadia    Shazwan    Mujahid       14       21
10     Afiqah     Rushdi    Yassier      Zarif       21       14
11      Haziq       Lina      Mirza      Ammar       21       18
12     Rushdi       Alif    Yassier     Hazwan       19       21
13      Haziq       Lina     Afiqah      Zarif       21       18
14      Ammar      Nadia    Hidayat      Mirza       21       19
15    Mujahid     Hazwan    Shazwan     Rushdi       21       13
16    Yassier       Alif      Nadia      Ammar       21       19
17     Afiqah      Zarif      Mirza     Rushdi       21       18

File exists! Uploading...
Updated ./matches/2025-01-02_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0       Mirza      Kamil       Alif     Luqman       21       15
1    Khairina     Haikal    Shazwan    Hidayat       21       18
2       Mirza      Ilham      Kamil     Rushdi       26       24
3      Afiqah   Khairina    Mujahid    Hidayat       21       19
4      Afiqah       Alif     Luqman      Ammar       21       18
5        Alif    Hidayat     Luqman      Ammar       21       15
6     Shazwan     Luqman      Azril     Haikal       21       15
7      Afiqah      Azril     Luqman      Ilham       22       20
8      Rushdi      Ilham       Alif      Azril       21       11
9       Mirza     Rushdi      Kamil      Azril       21       13
10    Shazwan    Mujahid    Hidayat   Khairina       21       11
11    Mujahid     Rushdi      Mirza     Luqman       21       13
12      Kamil      Ammar    Shazwan     Rushdi       21       17
13      Mirza     Rushdi    Mujahid      Ilham       21       14
14      Kamil      Ammar     Afiqah     Luqman       21       16
15     Afiqah     Haikal    Shazwan    Mujahid       21       14
16      Kamil     Rushdi       Alif      Ammar       24       22
17      Ammar    Hidayat       Alif     Haikal       21       16

File exists! Uploading...
Updated ./matches/2025-01-09_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0     Mujahid       Faiz      Ammar    Shazwan       15       21
1       Ammar    Mujahid      Mirza    Shazwan       18       21
2        Isha     Rushdi     Afiqah       Faiz       21       19
3      Luqman     Suhayl     Suraya      Ammar        9       21
4       Mirza     Rushdi    Khairul       Isha       19       21
5      Afiqah   Khairina     Suraya    Mujahid       18       21
6     Khairul     Luqman    Shazwan    Hidayat       21       16
7      Rushdi       Faiz       Isha     Suhayl       16       21
8       Ammar     Afiqah    Khairul      Mirza       21       10
9     Shazwan   Khairina     Luqman    Hidayat       15       21
10     Rushdi     Suraya     Suhayl       Faiz       21        9
11     Luqman       Isha     Suraya     Suhayl       21       11
12    Khairul    Mujahid      Ammar    Hidayat       21       19
13      Mirza     Afiqah     Suhayl     Suraya       21       19

File exists! Uploading...
Updated ./matches/2025-01-16_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0        Lina      Mirza     Luqman      Haziq       21       19
1     Hasanah       Adib    Mujahid    Shazwan       21       14
2      Hazwan      Nadia     Afiqah      Ammar       15       21
3       Haziq    Mujahid     Luqman       Lina       21       14
4     Hasanah      Mirza       Adib    Shazwan       19       21
5      Afiqah      Nadia      Ammar       Lina       15       21
6      Afiqah     Hazwan       Adib    Hasanah       21       12
7        Lina     Luqman       Lisa      Haziq       21       16
8       Ammar      Nadia    Khairul    Shazwan       21       17
9      Luqman      Mirza       Alif    Mujahid       21       18
10       Lisa    Khairul    Hasanah       Alif       18       21
11       Lina      Haziq     Hazwan       Adib       21       19
12    Shazwan     Luqman      Nadia      Mirza       19       21
13     Afiqah       Alif    Mujahid      Ammar       22       20
14    Shazwan       Lisa    Khairul     Hazwan       18       21
15      Mirza     Luqman       Lina      Haziq       21       18
16       Lisa    Khairul    Mujahid     Luqman       17       21
17      Nadia      Ammar    Hasanah       Adib       21       17

File exists! Uploading...
Updated ./matches/2025-01-23_match_results.csv in badgerminton/badgerminton-data!

   player_a_1 player_a_2 player_b_1 player_b_2  score_a  score_b
0       Haziq       Lina     Rushdi       Omar       19       21
1      Afiqah      Fazli    Yassier      Ammar       21        8
2     Mujahid      Ilham       Aidi      Nadia       21       14
3      Rushdi       Omar      Ilham      Ammar       21       17
4     Hasanah       Afiq       Lina      Haziq        8       21
5       Haziq    Mujahid       Lina      Fazli       12       21
6       Nadia       Omar     Rushdi      Ilham       21       15
7     Mujahid       Afiq    Hasanah      Ammar       17       21
8        Aidi       Lina     Afiqah      Fazli       14       21
9      Rushdi       Omar      Haziq      Ilham       22       20
10      Nadia       Aidi     Afiqah    Hasanah       21       10
11      Nadia       Afiq    Hasanah      Ammar       10       21
12       Aidi       Lina    Yassier      Haziq       21       19
13     Rushdi       Omar     Afiqah      Fazli       22       24
14    Mujahid       Afiq    Yassier      Nadia       24       22
15       Aidi      Ammar       Lina      Haziq       21       19
16     Rushdi       Omar     Afiqah      Fazli        9       21
17    Khairul       Afiq      Ilham      Nadia       24       22
18      Haziq    Yassier      Ammar       Lina       20       22